<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <a href="index.html" class="page-header__logo">
                <img src="img/logo.svg" alt="" class="page-header__logo-image" width="145">
            </a>

            <div class="page-header__menu">
                <div class="container">
                    <div class="page-header__menu-row">
                        <div class="page-header__menu-left-col">
                            <div class="page-header__menu-languages">
                                <a href="#" class="page-header__menu-languages-link active">
                                    En
                                </a>
                                <a href="#" class="page-header__menu-languages-link">
                                    Ру
                                </a>
                            </div>
                            <div class="page-header__menu-certs">
                                <img src="img/cert-1.svg" alt="" class="page-header__menu-certs-image">
                                <img src="img/cert-2.svg" alt="" class="page-header__menu-certs-image">
                            </div>
                            <div class="page-header__menu-social">
                                <ul class="page-header__menu-social-list">
                                    <li class="page-header__menu-social-list-item">
                                        <a href="#" class="page-header__menu-social-link">
                                            facebook
                                        </a>
                                    </li>
                                    <li class="page-header__menu-social-list-item">
                                        <a href="#" class="page-header__menu-social-link">
                                            instagram
                                        </a>
                                    </li>
                                    <li class="page-header__menu-social-list-item">
                                        <a href="#" class="page-header__menu-social-link">
                                            twitter
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="page-header__menu-contacts">
                                <div class="page-header__menu-contacts-item">
                                    <div class="page-header__menu-contacts-card">
                                        5 Mavlyutova St., Kazan, the Republic of Tatarstan, Russia, 420101

                                    </div>
                                </div>
                                <div class="page-header__menu-contacts-item">
                                    <div class="page-header__menu-contacts-card">
                                        +7 (843) 204-12-82
                                        info@iskazan.com

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page-header__menu-right-col">
                            <nav class="page-header__menu-nav">
                                <ul class="page-header__menu-nav-list">
                                    <li class="page-header__menu-nav-list-item">
                                        <a href="#" class="page-header__menu-nav-link">
                                            About ISK
                                        </a>
                                    </li>
                                    <li class="page-header__menu-nav-list-item">
                                        <a href="#" class="page-header__menu-nav-link">
                                            Education
                                        </a>
                                    </li>
                                    <li class="page-header__menu-nav-list-item">
                                        <a href="#" class="page-header__menu-nav-link">
                                            For parents
                                        </a>
                                    </li>
                                    <li class="page-header__menu-nav-list-item">
                                        <a href="#" class="page-header__menu-nav-link">
                                            Our team
                                        </a>
                                    </li>
                                    <li class="page-header__menu-nav-list-item">
                                        <a href="#" class="page-header__menu-nav-link">
                                            News
                                        </a>
                                    </li>
                                    <li class="page-header__menu-nav-list-item">
                                        <a href="#" class="page-header__menu-nav-link">
                                            Faq
                                        </a>
                                    </li>
                                    <li class="page-header__menu-nav-list-item">
                                        <a href="#" class="page-header__menu-nav-link">
                                            Contact us
                                        </a>
                                    </li>
                                </ul>
                                <div class="page-header__menu-pointer">
                                    
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <button class="page-header__burger js-menu-open">
                <span class="page-header__burger-content">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </button>
        </div>
    </div>
</header>