<div class="payment-modal">
    <div class="payment-modal__inner">
        <button class="payment-modal__close">
            <svg width="20" height="20" aria-hidden="true" class="icon-cross">
                <use xlink:href="#cross"></use>
            </svg>
        </button>
        <div class="payment-modal__logos">
            <a href="#" class="payment-modal__logo-link">
                <img src="img/payment-logos/mastercard_color.svg" alt="" class="payment-modal__logo-image">
            </a>
            <a href="#" class="payment-modal__logo-link">
                <img src="img/payment-logos/MIR_color.svg" alt="" class="payment-modal__logo-image">
            </a>
            <a href="#" class="payment-modal__logo-link">
                <img src="img/payment-logos/uniteller_color.svg" alt="" class="payment-modal__logo-image">
            </a>
            <a href="#" class="payment-modal__logo-link">
                <img src="img/payment-logos/visa_color.svg" alt="" class="payment-modal__logo-image">
            </a>
        </div>
        <div class="payment-modal__text">
            <h3>
                УВАЖАЕМЫЙ КЛИЕНТ!
            </h3>
            <p>
                Вы можете оплатить счет по Договору об образовании онлайн с помощью банковской карты через платежный
                сервис компании Uniteller. После подтверждения заказа Вы будете перенаправлены на защищенную платежную
                страницу Uniteller, где необходимо будет ввести данные для оплаты заказа. После успешной оплаты на
                указанную в форме оплаты электронную почту будет направлен электронный чек с информацией о заказе и
                данными по произведенной оплате.

            </p>
            <h3>
                ГАРАНТИИ БЕЗОПАСНОСТИ

            </h3>
            <p>
                Безопасность процессинга Uniteller подтверждена сертификатом стандарта безопасности данных индустрии
                платежных карт PCI DSS. Надежность сервиса обеспечивается интеллектуальной системой мониторинга
                мошеннических операций, а также применением 3D Secure - современной технологией безопасности
                интернет-платежей.

            </p>
            <p>
                Данные Вашей карты вводятся на специальной защищенной платежной странице. Передача информации в
                процессинговую компанию Uniteller происходит с применением технологии шифрования TLS. Дальнейшая
                передача информации осуществляется по закрытым банковским каналам, имеющим наивысший уровень надежности.

            </p>
            <p>
                Uniteller не передает данные Вашей карты Исполнителю по Договору об образовании и иным третьим лицам!

            </p>
            <p>
                Если Ваша карта поддерживает технологию 3D Secure, для осуществления платежа, Вам необходимо будет
                пройти дополнительную проверку пользователя в банке-эмитенте (банк, который выпустил Вашу карту). Для
                этого Вы будете направлены на страницу банка, выдавшего карту. Вид проверки зависит от банка. Как
                правило, это дополнительный пароль, который отправляется в SMS, карта переменных кодов, либо другие
                способы.
            </p>
            <h3>
                ВОЗВРАТ
            </h3>
            <p>
                Для проведения возврата денежных средств необходимо написать заявление соответствующего образца на имя
                директора АНОО «Международная школа Казани».

            </p>
            <p>
                Срок рассмотрения заявки на возврат денежных средств составляет 10 дней. Возврат денежных средств
                осуществляется на ту же банковскую карту, с которой производился платеж. Возврат денежных средств на
                карту осуществляется в срок от 3 до 30 банковских дней, в зависимости от Банка, которым была выпущена
                банковская карта.

            </p>
            <p>
                Обращаем Ваше внимание, что возврат денежных средств может быть только по основаниям, указанным в
                Договоре об образовании.

            </p>
            <h3>
                ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ

            </h3>
            <p>
                Политика конфиденциальности персональной информации (далее – Политика) действует в отношении всей
                информации, которую АНОО «Международная школа Казани» может получить о Заказчике в ходе исполнения
                Сторонами Договора об образовании.
                Использование указанного сайта означает безоговорочное согласие Заказчиком с настоящей Политикой и
                условиями обработки его персональной информации; в случае несогласия с этими условиями Заказчик должен
                воздержаться от использования Сайта.

            </p>
            <h3>
                Персональная информация Заказчиков, которую обрабатывает Исполнитель
            </h3>
            <p>
                1.1. В рамках настоящей Политики под «персональной информацией Заказчика» понимаются:

            </p>
            <p>
                1.1.1. Персональная информация, которую Заказчик предоставляет о себе самостоятельно при регистрации
                (создании учётной записи) или в процессе использования Сайта, включая персональные данные Заказчика.
                Обязательная для предоставления Сервисов информация помечена специальным образом. Иная информация
                предоставляется Заказчиком на его усмотрение.

            </p>
            <p>
                1.1.2. Данные, которые автоматически передаются Исполнителю в процессе их использования с помощью
                установленного на устройстве Заказчика программного обеспечения, в том числе IP-адрес, данные файлов
                cookie, информация о браузере Заказчика (или иной программе, с помощью которой осуществляется доступ к
                Сайту), технические характеристики оборудования и программного обеспечения, используемых Заказчиком,
                дата и время доступа к Сайту, адреса запрашиваемых страниц и иная подобная информация.

            </p>
            <p>
                1.1.3. Иная информация о Заказчике, обработка которой предусмотрена условиями использования Сайта.

            </p>
            <p>
                1.2. Настоящая Политика применима только к информации, обрабатываемой в ходе использования Сайта.
                Исполнитель не контролирует и не несет ответственность за обработку информации сайтами третьих лиц, на
                которые Заказчик может перейти по ссылкам, доступным на Сайте, в том числе в разделе с рекомендациями
                партнерских сервисов или в блоге.

            </p>
            <p>
                1.3. Исполнитель не проверяет достоверность персональной информации, предоставляемой Заказчиком, и не
                имеет возможности оценивать его дееспособность. Однако Исполнитель исходит из того, что Заказчик
                предоставляет достоверную и достаточную персональную информацию и поддерживает эту информацию в
                актуальном состоянии.

            </p>
            <p>
                Цели обработки персональной информации Пользователей

            </p>
            <p>
                2.1. Исполнитель собирает и хранит только ту персональную информацию, которая необходима для
                предоставления функций Сайта или исполнения Договора об образовании с Заказчиком, за исключением
                случаев, когда законодательством предусмотрено обязательное хранение персональной информации в течение
                определенного законом срока.

            </p>
            <p>
                2.2. Персональную информацию Заказчика Исполнитель обрабатывает в следующих целях:

            </p>
            <p>
                2.2.1. Идентификация Заказчика в рамках работы Сайта и Договора об образовании с Исполнителем;

            </p>
            <p>
                2.2.2. Исполнение дополнительных соглашений к Договору об образовании;

            </p>
            <p>
                2.2.3. Связь с Исполнителем, в том числе направление уведомлений, запросов и информации, касающихся
                использования Сайта, исполнения соглашений и договоров, а также обработка запросов и заявок от
                Заказчика.

            </p>
            <p>
                2.2.4. Улучшение качества Сайта, удобства их использования, разработка новых Сервисов;

            </p>
            <p>
                2.2.5. Таргетирование рекламных материалов;

            </p>
            <p>
                2.2.6. Проведение статистических и иных исследований, на основе обезличенных данных.

            </p>
            <h3>
                Условия обработки персональной информации Заказчиков и её передачи третьим лицам

            </h3>
            <p>
                3.1. Исполнитель хранит персональную информацию Заказчиков в соответствии с внутренними регламентами.

            </p>
            <p>
                3.2. При обработке персональных данных Исполнитель не ограничен в применении способов их обработки.

            </p>
            <p>
                3.3. В отношении персональной информации Заказчика сохраняется ее конфиденциальность, кроме случаев
                добровольного предоставления Заказчиком информации о себе для общего доступа неограниченному кругу лиц,
                например, указания в отзывах о работе Сервиса и в публичных комментариях к отдельным страницам сайта.
                Заказчик соглашается с тем, что определённая часть его персональной информации становится общедоступной.

            </p>
            <p>
                3.4. Исполнитель вправе передать персональную информацию Заказчика третьим лицам в следующих случаях:

            </p>
            <p>
                3.4.1. Заказчик выразил согласие на такие действия;

            </p>
            <p>
                3.4.2. Передача необходима для использования Заказчиком определенных функций Сайта, либо для исполнения
                определенного соглашения или договора с Заказчиком;

            </p>
            <p>
                3.4.3. Передача предусмотрена российским или иным применимым законодательством в рамках установленной
                законодательством процедуры;

            </p>
            <p>
                3.4.4. Такая передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части), при
                этом к приобретателю переходят все обязательства по соблюдению условий настоящей Политики применительно
                к полученной им персональной информации;

            </p>
            <p>
                3.4.5. В целях обеспечения возможности защиты прав и законных интересов Исполнителя или третьих лиц в
                случаях, когда Заказчик нарушает условия Договора об образовании или настоящую Политику.

            </p>
            <p>
                3.4.6. В результате обработки персональной информации Заказчика путем ее обезличивания получены
                обезличенные статистические данные, которые передаются третьему лицу для проведения исследований,
                выполнения работ или оказания услуг по поручению Заказчика.

            </p>
            <p>
                3.5. При обработке персональных данных Заказчиков Исполнитель руководствуется Федеральным законом РФ «О
                персональных данных».

            </p>
            <h3>
                Изменение и удаление персональной информации. Обязательное хранение данных

            </h3>
            <p>
                4.1. Заказчик может в любой момент изменить (обновить, дополнить) предоставленную им персональную
                информацию или её часть, воспользовавшись функцией редактирования личных данных или обратившись за
                помощью в Службу поддержки.

            </p>
            <p>
                4.2. Права, предусмотренные пп. 4.1настоящей Политики, могут быть ограничены в соответствии с
                требованиями законодательства. В частности, такие ограничения могут предусматривать обязанность
                Исполнителя сохранить измененную или удаленную Заказчиком информацию на срок, установленный
                законодательством, и передать такую информацию в соответствии с законодательно установленной процедурой
                государственному органу.

            </p>
            <h3>
                Обработка персональной информации при помощи файлов Cookie и счетчиков

            </h3>
            <p>
                5.1. Файлы cookie, передаваемые Исполнителем оборудованию Заказчика и оборудованием Заказчика Сайта,
                могут использоваться Исполнителем для предоставления Заказчику персонализированных сервисов, для
                таргетирования рекламы, которая показывается Заказчику, в статистических и исследовательских целях, а
                также для улучшения Сайта.

            </p>
            <p>
                5.2. Заказчик осознает и понимает, что оборудование и программное обеспечение, используемые им для
                посещения сайтов в сети интернет, могут обладать функцией запрещения операций с файлами cookie (для
                любых сайтов или для определенных сайтов), а также удаления ранее полученных файлов cookie.

            </p>
            <p>
                5.3. Исполнитель вправе установить, что предоставление определенных функций возможно лишь при условии,
                что прием и получение файлов cookie разрешены Заказчиком.

            </p>
            <p>
                5.4. Структура файла cookie, его содержание и технические параметры определяются Исполнителем и могут
                изменяться без предварительного уведомления Заказчика.

            </p>
            <p>
                5.5. Счетчики, размещенные на сайте Исполнителя, могут использоваться для анализа файлов cookie
                Заказчика, для сбора и обработки статистической информации об использовании Сайта, а также для
                обеспечения работоспособности в целом или их отдельных функций в частности. Технические параметры работы
                счетчиков определяются Исполнителем и могут изменяться без предварительного уведомления Заказчика.

            </p>
            <h3>
                Меры, применяемые для защиты персональной информации Заказчика

            </h3>
            <p>
                6.1. Исполнитель принимает необходимые и достаточные организационные и технические меры для защиты
                персональной информации Заказчика от неправомерного или случайного доступа, уничтожения, изменения,
                блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц

            </p>
            <h3>
                Изменение Политики конфиденциальности. Применимое законодательство

            </h3>
            <p>
                7.1. Исполнитель имеет право вносить изменения в настоящую Политику конфиденциальности. При внесении
                изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает
                в силу с момента ее размещения, если иное не предусмотрено новой редакцией Политики.

            </p>
            <p>
                7.2. К настоящей Политике и отношениям между Заказчиком и Исполнителем, возникающим в связи с
                применением Политики конфиденциальности, подлежит применению право Российской Федерации.

            </p>
            <h3>
                Обратная связь. Вопросы и предложения 
            </h3>
            <p>
                8.1. Все предложения или вопросы по поводу настоящей Политики Заказчик вправе направлять в Администрацию
                АНОО «Международная школа Казани». 

            </p>
        </div>

        <a href="#" class="payment-modal__pay-btn">
            Оплатить
        </a>
    </div>
</div>