{{#extend "layout"}}
{{#content "main"}}


<section class="about-intro">
    <div class="container">
        <div class="about-intro__row">
            <div class="about-intro__left-col">
                <div class="about-intro__left-col-bg">
                    <div class="about-intro__left-col-bg-image-container">
                        <img src="img/about-intro-1.jpg" alt="" class="about-intro__left-col-bg-image">
                    </div>

                </div>
                <h1 class="about-intro__heading">
                    about isk
                </h1>
                <div class="about-intro__large-text">
                    <p>
                        The International School of Kazan has two campuses. On the Mavlyutova campus, classes are
                        offered all the way through Grade 12. On the Fedo campus, classes are offered through Grade 7;
                        this will expand upwards each year
                    </p>
                </div>
                <img src="img/about-spheres.svg" alt="" class="about-intro__sphere">
            </div>
            <div class="about-intro__right-col">

                <div class="about-intro__ceo">
                    <img src="img/about-intro-2.jpg" alt="" class="about-intro__ceo-image">
                    <div class="about-intro__ceo-info">
                        <h4 class="about-intro__ceo-name">
                            NIYAZ GAFIYATULLIN
                        </h4>
                        <div class="about-intro__ceo-role">
                            Director
                        </div>
                        <div class="about-intro__ceo-text">
                            If your children were asked how they would like to learn, what would they say?
                        </div>
                    </div>
                    <a href="#" class="about-intro__btn">
                        full message
                    </a>
                    <div class="about-intro__modal">
                        <div class="about-intro__modal-inner">
                            <div class="about-intro__modal-row">
                                <div class="about-intro__modal-left-col">
                                    <img src="img/about-intro-modal.jpg" alt="" class="about-intro__image">
                                </div>
                                <div class="about-intro__modal-right-col">
                                    <div class="about-intro__modal-content">
                                        <h3 class="about-intro__modal-name">
                                            NIYAZ GAFIYATULLIN
                                        </h3>
                                        <div class="about-intro__modal-role">
                                            Director
                                        </div>
                                        <div class="about-intro__modal-text">
                                            <p>
                                                If your children were asked how they would like to learn, what would
                                                they
                                                say?
                                            </p>

                                            <p>
                                                Would it be to have the ability to learn as they like, to take risks and
                                                try
                                                new things, to make mistakes and not get bad marks or be reprimanded for
                                                them?
                                            </p>
                                            <p>
                                                Children want understanding, guidance, a working plan, and help to
                                                insure
                                                their previous mistakes will not happen again. They want support and
                                                complete confidence in their results. We want to meet their requests.
                                                Proper
                                                selection of educational technology and a variety of modern and «smart»
                                                design, tasks and projects which are not cut off from real life — we
                                                believe
                                                these criteria are the key to success of our students.
                                            </p>

                                            <p>
                                                A child coming to our school does not just enter a beautiful building,
                                                but
                                                he or she opens the door to a world where teachers and students from all
                                                parts of the world speak the same language.
                                            </p>


                                            <p>
                                                Global cooperation, tolerance, competitiveness and balanced personal
                                                development is a natural
                                                result of our work.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="about-intro__modal-close">
                                <svg width="20" height="20" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#cross"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<section class="mission">
    <div class="container">
        <div class="mission__row">
            <div class="mission__col">
                <h2 class="mission__heading">
                    Our<br>
                    mission
                </h2>
            </div>
            <div class="mission__col">
                <div class="mission__text">
                    <p>
                        Nurturing global citizens through meaningful education
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="about-philosophy">
    <div class="container">
        <div class="about-philosophy__row">
            <div class="about-philosophy__left-col">
                <div class="about-philosophy__content">
                    <h2 class="about-philosophy__heading">
                        PHILOSOPHY
                    </h2>
                    <div class="about-philosophy__text">
                        <p>
                            ISK has been designed to boost economic growth not only in Kazan but in the entire
                            Tatarstan. It
                            is a front-runner for the whole system of education in Tatarstan and expected to become a
                            role
                            model of applying best educational practices, creative design solutions and approaches to
                            holistic children development. We believe that a meaningful education is a perfect way to
                            prepare our students for challenges today and in the future. Therefore, a combination of
                            rigorous curriculum, holistic programs, developing talents and cutting-edge pedagogical
                            practices are key to nurturing global citizens. We want everyone in ISK to be a part of the
                            international ISK family which is a home to success, happiness and safety.
                        </p>
                    </div>
                </div>
            </div>
            <div class="about-philosophy__right-col">
                <ul class="about-philosophy__features-list">
                    <li class="about-philosophy__features-list-item">
                        <div class="about-philosophy__card">
                            <img src="img/about-philosophy/1.svg" alt="" class="about-philosophy__card-icon">
                            <h4 class="about-philosophy__card-title">
                                Infrastructure and Equipment
                            </h4>
                        </div>
                    </li>
                    <li class="about-philosophy__features-list-item">
                        <div class="about-philosophy__card">
                            <img src="img/about-philosophy/2.svg" alt="" class="about-philosophy__card-icon">
                            <h4 class="about-philosophy__card-title">
                                Reviews
                            </h4>
                        </div>
                    </li>
                    <li class="about-philosophy__features-list-item">
                        <div class="about-philosophy__card">
                            <img src="img/about-philosophy/3.svg" alt="" class="about-philosophy__card-icon">
                            <h4 class="about-philosophy__card-title">
                                Philosophy
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{{> sign-up }}

{{/content}}
{{/extend}}