{{#extend "layout"}}
{{#content "main"}}

<section class="admissions-intro">
    <div class="admissions-intro__background">
        <img src="img/admissions-bg.jpg" alt="" class="admissions-intro__background-image">
    </div>
    <div class="container">
        <div class="admissions-intro__content">

            <h1 class="admissions-intro__main-heading">
                Admissions
            </h1>
            <div class="admissions-intro__row">
                <div class="admissions-intro__text">
                    How do I enroll my child in school? What documents are required for the enrollment?
                </div>
                <div class="admissions-intro__number">
                    01
                </div>
            </div>

        </div>
    </div>
</section>

<section class="admissions-applicants">
    <div class="container">
        <div class="admissions-applicants__row">
            <div class="admissions-applicants__text">
                <p>
                    All the applicants pay an application fee first, and then go through an interview with an admissions
                    officer and take tests in Math and English language. There is also an interview with a school
                    psychologist for all children from 5 to 9 years-old. All the required documents can be found here.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="admissions-details">
    <div class="container">
        <div class="admissions-details__row">
            <div class="admissions-details__left-col">
                <div class="admissions-details__image-wrapper">
                    <img src="img/admissions-image.jpg" alt="" class="admissions-details__image">
                </div>
                <div class="admissions-details__fee">
                    <div class="admissions-details__fee-content">
                        <div class="admissions-details__fee-number">
                            02
                        </div>
                        <div class="admissions-details__fee-what-is">
                            What is the tuition fee?
                        </div>
                        <div class="admissions-details__fee-wrapper">


                            <div class="admissions-details__fee-text">
                                <p>
                                    The tuition fee depends on the grade level of the child and the campus.
                                </p>
                            </div>
                            <div class="admissions-details__fee-items">
                                <div class="admissions-details__fee-item">
                                    <h4 class="admissions-details__fee-item-heading">
                                        One-Off Fees
                                    </h4>
                                    <div class="admissions-details__fee-item-pricings">
                                        <div class="admissions-details__fee-item-pricings-item">
                                            <div class="admissions-details__fee-item-pricings-item-key">
                                                Registration fee
                                            </div>
                                            <div class="admissions-details__fee-item-pricings-item-value">
                                                10 000 ₽

                                            </div>
                                        </div>
                                        <div class="admissions-details__fee-item-pricings-item">
                                            <div class="admissions-details__fee-item-pricings-item-key">
                                                Enrollment fee
                                            </div>
                                            <div class="admissions-details__fee-item-pricings-item-value">
                                                200 000 ₽

                                            </div>
                                        </div>
                                        <div class="admissions-details__fee-item-pricings-item">
                                            <div class="admissions-details__fee-item-pricings-item-key">
                                                Enrollment fee for the second and additional children
                                            </div>
                                            <div class="admissions-details__fee-item-pricings-item-value">
                                                150 000 ₽

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="admissions-details__fee-item">
                                    <h4 class="admissions-details__fee-item-heading">
                                        Tuition Fees for Mavlyutova campus
                                    </h4>
                                    <div class="admissions-details__fee-item-pricings">
                                        <div class="admissions-details__fee-item-pricings-item">
                                            <div class="admissions-details__fee-item-pricings-item-key">
                                                Discovery 1
                                            </div>
                                            <div class="admissions-details__fee-item-pricings-item-value">
                                                342 500 ₽/ year

                                            </div>
                                        </div>
                                        <div class="admissions-details__fee-item-pricings-item">
                                            <div class="admissions-details__fee-item-pricings-item-key">
                                                Discovery 2 - Grade 5
                                            </div>
                                            <div class="admissions-details__fee-item-pricings-item-value">
                                                685 000 ₽/ year

                                            </div>
                                        </div>
                                        <div class="admissions-details__fee-item-pricings-item">
                                            <div class="admissions-details__fee-item-pricings-item-key">
                                                Grades 6 - 10
                                            </div>
                                            <div class="admissions-details__fee-item-pricings-item-value">
                                                770 000 ₽/ year

                                            </div>
                                        </div>
                                        <div class="admissions-details__fee-item-pricings-item">
                                            <div class="admissions-details__fee-item-pricings-item-key">
                                                Grades 11 -12
                                            </div>
                                            <div class="admissions-details__fee-item-pricings-item-value">
                                                785 000 ₽/ year

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="admissions-details__fee-item">
                                    <h4 class="admissions-details__fee-item-heading">
                                        Tuition fees for Fedoseyevskaya Campus
                                    </h4>
                                    <div class="admissions-details__fee-item-pricings">
                                        <div class="admissions-details__fee-item-pricings-item">
                                            <div class="admissions-details__fee-item-pricings-item-key">
                                                Kindergarten - Grade 5
                                            </div>
                                            <div class="admissions-details__fee-item-pricings-item-value">
                                                740 000 ₽/ year

                                            </div>
                                        </div>
                                        <div class="admissions-details__fee-item-pricings-item">
                                            <div class="admissions-details__fee-item-pricings-item-key">
                                                Grades 6 - 7
                                            </div>
                                            <div class="admissions-details__fee-item-pricings-item-value">
                                                770 000 ₽/ year
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="admissions-details__fee-discount">
                                <p>
                                    There is a 15% discount on tuition for the third and additional children.

                                </p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="admissions-details__right-col">
                <div class="admissions-details__discounts">
                    <div class="admissions-details__discounts-number">
                        03
                    </div>
                    <div class="admissions-details__discounts-selected-text">
                        Do you offer discounts for families with two or more children?
                    </div>
                    <div class="admissions-details__discounts-regular-text">
                        There is a 25% discount on the acceptance fee for the second child.
                        For the third and all other subsequent children there’s another 15% discount on a tuition fee.
                    </div>
                </div>
                <div class="admissions-details__what-is-school">
                    <div class="admissions-details__what-is-school-image-container">
                        <img src="img/what-is-school.jpg" alt="" class="admissions-details__what-is-school-image">

                    </div>
                    <div class="admissions-details__what-is-school-content">
                        <div class="admissions-details__what-is-school-number">
                            04
                        </div>
                        <div class="admissions-details__what-is-school-question">
                            What is an IB school?
                        </div>
                        <div class="admissions-details__what-is-school-text">
                            <p>
                                The International Baccalaureate (IB) is the most widely recognized and accepted
                                education program in the world. There are over 4000 schools around the globe using
                                IB as their main curriculum. The program embraces the best international education
                                practices and makes top universities and colleges available for everyone.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="admissions-support">
    <div class="container">
        <div class="admissions-support__top-row">
            <div class="admissions-support__intro-text">
                What support will the school give to my child if he is not proficient in English language?
            </div>
            <div class="admissions-support__number">
                05
            </div>
        </div>
        <div class="admissions-support__bottom-row">
            <div class="admissions-support__main-text">
                <p>
                    All students have to match with the minimal requirements in Math and English language. For those
                    students with a lower-than-expected proficiency in English language there is EAL support available
                    at school. These lessons are organized in a format of individual classes, aimed at boosting
                    students’ level of English language comprehension and led by EAL trained teachers.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="admissions-school-day">
    <div class="admissions-school-day__bg-image-container">
        <img src="img/admissions-school-day.jpg" alt="" class="admissions-school-day__bg-image">
    </div>
    <div class="container">
        <div class="admissions-school-day__content">


            <div class="admissions-school-day__number">
                06
            </div>
            <div class="admissions-school-day__text-content">
                <p>
                    A school day starts at 8 a.m. and main classes go up to 3 p.m. Lessons are 40-minutes long and some
                    subjects
                    (Science, Social studies, and PE) have a 1.5-hour long lesson blocks.
                </p>

                <p>
                    Food and drinks are served 3 times a day - breakfast, lunch and light dinner. After a break for
                    dinner
                    the
                    CCAs (co-curricular activities) - a wide range of extra activities - kick off. CCAs offered to the
                    students
                    run from 3.30 p.m. to 5.15 p.m. everyday. This includes mental math, foreign languages, programming,
                    robotics, soccer, choreography, etc. Students pick the ones they are most interested in. Most of the
                    CCAs
                    are paid by school. However, there are some you need to pay extra for.
                </p>

            </div>
        </div>
    </div>
</section>


<section class="admissions-where-to-order">
    <div class="container">
        <div class="admissions-where-to-order__row">
            <div class="admissions-where-to-order__number">
                07
            </div>
            <div class="admissions-where-to-order__content">
                <div class="admissions-where-to-order__question">
                    Where do I order school uniform?
                </div>
                <div class="admissions-where-to-order__text">
                    <p>
                        A school uniform for the Mavlutova campus students (Primary and Secondary) can be purchased at
                        “Singer” studio. There is a Uniform shop in Mavlutova Primary building (1st floor). Opening
                        hours from Mon - Fri, 8 a.m. to 5 p.m.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="admission-apply">
    <a href="#" class="admissions-apply__btn js-open-payment-modal">
        Apply Now
    </a>
</section>

{{/content}}
{{/extend}}