{{#extend "layout"}}
{{#content "main"}}


<section class="intro-with-nav">
    <div class="container">
        <div class="intro-with-nav__row intro-with-nav__row--reviews">
            <div class="intro-with-nav__left-col">
                <div class="intro-with-nav__bg">
                    <img src="img/diploma-bg.jpg" alt="" class="intro-with-nav__bg-image">
                </div>
                <h1 class="intro-with-nav__heading">
                    DP PROGRAM MODEL

                </h1>
                <div class="intro-with-nav__text">
                    <p>
                        The Diploma Programme (DP) is a curriculum framework designed by the International Baccalaureate
                        (IB) for learners aged 16-19. The DP programme focuses on developing students who are
                        internationally minded and dedicated to making the world a better place.
                    </p>
                </div>
            </div>
            <div class="intro-with-nav__right-col">
                <nav class="intro-with-nav__nav">
                    <a href="#" class="intro-with-nav__link">
                        PRIMARY SCHOOL
                    </a>
                    <a href="#" class="intro-with-nav__link">
                        SECONDARY SCHOOL
                    </a>
                    <a href="#" class="intro-with-nav__link active">
                        DP PROGRAM MODEL
                    </a>
                    <a href="#" class="intro-with-nav__link">
                        CO-CURRICULAR
                        ACTIVITIES
                    </a>
                </nav>
            </div>
        </div>
    </div>

</section>

<section class="diploma">
    <div class="container">
        <div class="education-school__slider js-education-school-slider">
            <div class="education-school__slider-wrapper">
                <div class="education-school__slider-arrows">
                    <button class="education-school__slider-arrow education-school__slider-arrow--prev">
                        <svg width="17" height="27" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="education-school__slider-arrow education-school__slider-arrow--next">
                        <svg width="17" height="27" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>

                <div class="education-school__slider-main">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="education-school__slider-card">
                                    <div class="education-school__slider-card-image-wrapper">
                                        <img src="img/dp-program-1.jpg" alt=""
                                            class="education-school__slider-card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="education-school__slider-card">
                                    <div class="education-school__slider-card-image-wrapper">
                                        <img src="img/dp-program-2.jpg" alt=""
                                            class="education-school__slider-card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="education-school__slider-card">
                                    <div class="education-school__slider-card-image-wrapper">
                                        <img src="img/dp-program-1.jpg" alt=""
                                            class="education-school__slider-card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="education-school__slider-card">
                                    <div class="education-school__slider-card-image-wrapper">
                                        <img src="img/dp-program-2.jpg" alt=""
                                            class="education-school__slider-card-image">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="diploma__program">
            <div class="diploma__program-row">
                <div class="diploma__program-left-col">
                    <h2 class="diploma__program-heading">
                        ACADEMIC<br> PROGRAM

                    </h2>

                    <div class="diploma__program-main-text">
                        <p>
                            Students in the IB Diploma Programme study six subjects each from a different Group:


                        </p>
                        <p>
                            — Group 1: Studies in language and literature
                            — Group 2: Language acquisition
                            — Group 3: Individuals and societies
                            — Group 4: Sciences
                            — Group 5: Mathematics
                            — Group 6: The arts or an Elective from Group 3 or 4


                        </p>
                        <p>
                            Students study 3 subjects at the Standard Level - 150 class hours over 2 years


                        </p>
                        <p>
                            Students study 3 subjects at the Higher Level - 240 class hours over 2 years.
                        </p>
                    </div>
                </div>
                <div class="diploma__program-right-col">
                    <div class="diploma__program-info-blocks">
                        <div class="diploma__program-info-block">
                            <h3 class="diploma__program-info-block-heading">
                                THE IB DIPLOMA PROGRAMME DEVELOPS STUDENTS WHO:
                            </h3>
                            <div class="diploma__program-info-block-text">
                                <p>
                                    — have excellent breadth and depth of knowledge
                                </p>
                                <p>
                                    — flourish physically, intellectually, emotionally and ethically
                                </p>
                                <p>
                                    — study at least two languages
                                </p>
                                <p>
                                    — excel in traditional academic subjects
                                </p>
                                <p>
                                    — explore the nature of knowledge through the Theory of Knowledge Course
                                </p>
                            </div>
                        </div>
                        <div class="diploma__program-info-block">
                            <h3 class="diploma__program-info-block-heading">
                                DIPLOMA PROGRAMME CORE
                            </h3>
                            <div class="diploma__program-info-block-text">
                                <p>
                                    There are three aspects of the DP CORE, the heart of what makes the DP Programme
                                    different from other academically challenging curriculums.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="theory">
    <div class="container">
        <div class="theory__row">
            <div class="theory__left-col">
                <div class="theory__content">
                    <h2 class="theory__heading">
                        THEORY OF KNOWLEDGE
                    </h2>
                    <div class="theory__text">
                        <p>
                            A critical-thinking course where students make connections between their understanding about
                            the nature of knowledge and the real world.
                        </p>
                    </div>
                </div>
            </div>
            <div class="theory__right-col">
                <div class="theory__image-wrapper">
                    <img src="img/theory-image.jpg" alt="" class="theory__image">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="extended-essay">
    <div class="container">
        <div class="extended-essay__row">
            <div class="extended-essay__col">
                <h2 class="extended-essay__heading">
                    EXTENDED<br> ESSAY

                </h2>
            </div>
            <div class="extended-essay__col">
                <div class="extended-essay__text">
                    <p>
                        Significant independent research in a subject area topic of their choice. Students are paired
                        with a teacher or administrator as a supervisor who provides guidance for their paper.


                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="creativity">
    <div class="container">
        <div class="creativity__content">


            <h2 class="creativity__heading">
                CREATIVITY, ACTIVITY AND SERVICE (CAS):
            </h2>
            <div class="creativity__text">
                <p>
                    Students engage in pursuits outside the typical academic coursework. Creativity (Arts such as music
                    and
                    dance, MUN, debate, speech), Activity (physical exertion/healthy lifestyle-sports) and Service
                    (unpaid
                    and voluntary service). The CAS program is intended to be both challenging and enjoyable and provide
                    a
                    balance to the rigours of academic life.
                </p>
            </div>
        </div>
    </div>
    <img src="img/creativity.jpg" alt="" class="creativity__image">
</section>
<section class="assessment">
    <div class="container">
        <h2 class="assessment__heading">
            DP ASSESSMENT
        </h2>
        <div class="assessment__text">
            <p>
                Assessment in the DP has two main types in every subject area:
            </p>
            <p>
                1 Internal assessments, marked internally and moderated by IB examiners around the world.
                2 External assessments taken at the end of each two-year course. These written exams are marked
                externally by IB examiners around the world.
            </p>
        </div>
    </div>
</section>

{{> sign-up }}

{{/content}}
{{/extend}}