{{#extend "layout"}}
{{#content "main"}}


<section class="intro-with-nav">
    <div class="container">
        <div class="intro-with-nav__row intro-with-nav__row--reviews">
            <div class="intro-with-nav__left-col">
                <div class="intro-with-nav__bg">
                    <img src="img/diploma-bg.jpg" alt="" class="intro-with-nav__bg-image">
                </div>
                <h1 class="intro-with-nav__heading">
                    CO-CURRICULAR
                    ACTIVITIES
                </h1>
                <div class="intro-with-nav__text">
                    <p>
                        ISK’s school day is from 8.30 to 15.30. Students may choose to stay after 15:30 to participate
                        in co-curricular activities. ISK offers a variety of activities across the areas of Arts, Sports
                        and Academics. Co-curricular classes are led by ISK teachers and outside professionals.
                    </p>
                </div>
            </div>
            <div class="intro-with-nav__right-col">
                <nav class="intro-with-nav__nav">
                    <a href="#" class="intro-with-nav__link">
                        PRIMARY SCHOOL
                    </a>
                    <a href="#" class="intro-with-nav__link">
                        SECONDARY SCHOOL
                    </a>
                    <a href="#" class="intro-with-nav__link">
                        DP PROGRAM MODEL
                    </a>
                    <a href="#" class="intro-with-nav__link active">
                        CO-CURRICULAR
                        ACTIVITIES
                    </a>
                </nav>
            </div>
        </div>
    </div>

</section>

<section class="diploma">
    <div class="container">
        <div class="education-school__slider js-education-school-slider">
            <div class="education-school__slider-wrapper">
                <div class="education-school__slider-arrows">
                    <button class="education-school__slider-arrow education-school__slider-arrow--prev">
                        <svg width="17" height="27" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="education-school__slider-arrow education-school__slider-arrow--next">
                        <svg width="17" height="27" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>

                <div class="education-school__slider-main">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="education-school__slider-card">
                                    <div class="education-school__slider-card-image-wrapper">
                                        <img src="img/diploma-slider-1.jpg" alt=""
                                            class="education-school__slider-card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="education-school__slider-card">
                                    <div class="education-school__slider-card-image-wrapper">
                                        <img src="img/diploma-slider-2.jpg" alt=""
                                            class="education-school__slider-card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="education-school__slider-card">
                                    <div class="education-school__slider-card-image-wrapper">
                                        <img src="img/diploma-slider-1.jpg" alt=""
                                            class="education-school__slider-card-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="diploma__art">
            <h2 class="diploma__art-heading">
                ART
            </h2>
            <div class="diploma__art-text">
                <p>
                    In ISK's Art classes, children learn different art techniques while cultivating a love of creativity
                    and learning how to appreciate the aesthetics of our world.
                </p>
            </div>
        </div>
        <div class="diploma__speak">
            <h2 class="diploma__speak-heading">
                IF YOUR CHILD DOESN’T SPEAK ENGLISH
            </h2>
            <div class="diploma__speak-text">
                <p>
                    In ISK's Art classes, children learn different art techniques while cultivating a love of creativity
                    and learning how to appreciate the aesthetics of our world.
                </p>
            </div>
        </div>
    </div>
</section>


{{> sign-up }}

{{/content}}
{{/extend}}