{{#extend "layout"}}
{{#content "main"}}

<section class="education-intro">
    <div class="container">
        <div class="education-intro__row">
            <div class="education-intro__left-col">
                <div class="education-intro__bg">
                    <img src="img/education-intro.jpg" alt="" class="education-intro__bg-image">
                </div>
                <h1 class="education-intro__main-heading">
                    EDUCATION
                </h1>
                <div class="education-intro__main-text">
                    ISK aspires to provide students with a rigorous program that encourages them to excel not only in
                    their academic development but also in their personal growth.
                </div>
            </div>
            <div class="education-intro__right-col">
                <div class="education-intro__right-col-content">
                    <h2 class="education-intro__second-heading">
                        WHAT IS AN IB EDUCATION AT ISK?
                    </h2>
                    <div class="education-intro__second-heading-text">
                        <p>
                            Four main characteristics define an IB Education:

                        </p>
                    </div>
                    <div class="education-intro__benefits">
                        <ol class="education-intro__benefits-list">
                            <li class="education-intro__benefits-list-item">
                                Centers on learners
                            </li>
                            <li class="education-intro__benefits-list-item">
                                Develops effective approaches to teaching and learning
                            </li>
                            <li class="education-intro__benefits-list-item">
                                Works within global contents
                            </li>
                            <li class="education-intro__benefits-list-item">
                                Explores significant content
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="education-intro__learn-more">
                    <a href="#" class="education-intro__learn-more-link">
                        Learn more about an IB Education
                    </a>
                </div>

            </div>

        </div>
    </div>
</section>

<section class="education-school">
    <div class="container">
        <h2 class="education-school__heading">
            IB SCHOOL
        </h2>
        <div class="education-school__slider js-education-school-slider">
            <div class="education-school__slider-wrapper">
                <div class="education-school__slider-arrows">
                    <button class="education-school__slider-arrow education-school__slider-arrow--prev">
                        <svg width="17" height="27" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="education-school__slider-arrow education-school__slider-arrow--next">
                        <svg width="17" height="27" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>

                <div class="education-school__slider-main">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="education-school__slider-card">
                                    <div class="education-school__slider-card-image-wrapper">
                                        <img src="img/education-slider/1.jpg" alt=""
                                            class="education-school__slider-card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="education-school__slider-card">
                                    <div class="education-school__slider-card-image-wrapper">
                                        <img src="img/education-slider/2.jpg" alt=""
                                            class="education-school__slider-card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="education-school__slider-card">
                                    <div class="education-school__slider-card-image-wrapper">
                                        <img src="img/education-slider/1.jpg" alt=""
                                            class="education-school__slider-card-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="education-school__info">
            <div class="education-school__info-row">
                <div class="education-school__info-left-col">
                    <div class="education-school__large-text">
                        <p>
                            The International School of Kazan is an authorized International Baccalaureate (IB) World
                            School for the Primary Years Program, the Middle Years Program and the Diploma Program. * IB
                            World Schools are united in a common goal to provide a challenging and high-quality
                            education that fosters people who are internationally minded.

                        </p>
                    </div>
                </div>
                <div class="education-school__info-right-col">
                    <div class="education-school__small-text">
                        <p>
                            *Only schools authorized by the International Baccalaureate can offer any of its four
                            academic programmes: the Primary Years Programme (PYP), the Middle Years Programme (MYP),
                            the Diploma Programme or the IB Career-related Certificate (IBCC). For further information
                            about the IB and its programmes, visit www.ibo.org.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="education-features">
    <div class="container">
        <div class="education-features__content">
            <ul class="education-features__list">
                <li class="education-features__list-item">
                    <a href="#" class="education-features__card">
                        <div class="education-features__card-content">


                            <div class="education-features__card-icon-container">
                                <img src="img/education-features/1.svg" alt="" class="education-features__card-icon">
                            </div>
                            <h4 class="education-features__card-title">
                                Primary<br>
                                Years
                            </h4>
                        </div>
                    </a>
                </li>
                <li class="education-features__list-item">
                    <a href="#" class="education-features__card">
                        <div class="education-features__card-content">
                            <div class="education-features__card-icon-container">
                                <img src="img/education-features/2.svg" alt="" class="education-features__card-icon">
                            </div>
                            <h4 class="education-features__card-title">
                                Middle<br>
                                Years
                            </h4>
                        </div>

                    </a>
                </li>
                <li class="education-features__list-item">
                    <a href="#" class="education-features__card">
                        <div class="education-features__card-content">


                            <div class="education-features__card-icon-container">
                                <img src="img/education-features/3.svg" alt="" class="education-features__card-icon">
                            </div>
                            <h4 class="education-features__card-title">
                                Diploma<br>
                                Programme
                            </h4>
                        </div>
                    </a>
                </li>
                <li class="education-features__list-item">
                    <a href="#" class="education-features__card">
                        <div class="education-features__card-content">
                            <div class="education-features__card-icon-container">
                                <img src="img/education-features/4.svg" alt="" class="education-features__card-icon">
                            </div>
                            <h4 class="education-features__card-title">
                                Co-Corricular<br>
                                Activities
                            </h4>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="education-profile">
    <div class="container">
        <div class="education-profile__row">
            <div class="education-profile__col">
                <div class="education-profile__image-wrapper">
                    <img src="img/education-profile-image.jpg" alt="" class="education-profile__image">
                </div>
            </div>
            <div class="education-profile__col">
                <div class="education-profile__content">
                    <h2 class="education-profile__heading">
                        IB LEARNER<br>
                        PROFILE<br>
                        AT ISK
                    </h2>
                    <div class="education-profile__text">
                        <p>
                            Academic success is only one measurement of a student’s achievement. The IB Learner profile
                            focuses on a range of student attributes that encourage students to develop respect for
                            themselves, others and the world around them.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="education-teaching">
    <div class="container">
        <div class="education-teaching__row">
            <div class="education-teaching__col">
                <div class="education-teaching__content">
                    <h2 class="education-teaching__heading">
                        TEACHING<br> AND<br> LEARNING<br> AT ISK

                    </h2>
                </div>
            </div>
            <div class="education-teaching__col">
                <div class="education-teaching__text">
                    <p>
                        Successful student learning depends on WHAT is learned as well as HOW learning takes place
                        inside and outside of the classroom. ISK utilizes the IB’s Approaches to Teaching and Learning
                        (ATLs) which are deliberate strategies, skills and attitudes that shape the learning
                        environment. Teaching focuses around the components of inquiry, action and reflection.
                    </p>
                </div>

                <a href="#" class="education-teaching__link">
                    Learn more about the IB Learner Profile
                </a>
            </div>
        </div>
    </div>
</section>

<section class="education-programs">
    <div class="container">
        <h2 class="education-programs__heading">
            THE PROGRAMMES AIM TO<br> DEVELOP LEARNERS WHO<br> ARE:
        </h2>
        <ul class="education-programs__list">
            <li class="education-programs__list-item">
                - Inquirers
            </li>
            <li class="education-programs__list-item">
                - Open-minded
            </li>
            <li class="education-programs__list-item">
                - Knowledgeable
            </li>
            <li class="education-programs__list-item">
                - Caring
            </li>
            <li class="education-programs__list-item">
                - Thinkers
            </li>
            <li class="education-programs__list-item">
                - Risk-takers
            </li>
            <li class="education-programs__list-item">
                - Communicators
            </li>
            <li class="education-programs__list-item">
                - Balanced
            </li>
            <li class="education-programs__list-item">
                - Principled
            </li>
            <li class="education-programs__list-item">
                - Reflective
            </li>
        </ul>
    </div>
</section>

<section class="education-contexts">
    <div class="container">
        <div class="education-contexts__row">
            <div class="education-contexts__left-col">
                <div class="education-contexts__image-wrapper">
                    <img src="img/contexts-image.jpg" alt="" class="education-contexts__image">
                </div>
            </div>
            <div class="education-contexts__right-col">
                <div class="education-contexts__content">


                    <h2 class="education-contexts__heading">
                        IB GLOBAL CONTEXTS
                    </h2>
                    <div class="education-contexts__text">
                        <p>
                            Providing an exemplary international education is at the heart of ISK’s vision. ISK focuses
                            on
                            intercultural understanding through the development of multilingualism and global engagement
                        </p>
                        <p>
                            - Multilingualism: students in PYP, MYP and DP learn at least 2 languages and develop
                            intercultural
                            understanding by being able to communicate in a variety of contexts.
                        </p>
                        <p>
                            - Global Engagement: curriculum in the PYP, MYP and DP focuses on the use of global
                            contexts,
                            making
                            connections between what is studied in the classroom and what is happening in the real world
                            in
                            local and global communities.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="education-significant">
    <div class="container">
        <div class="education-significant__row">
            <div class="education-significant__col">
                <h2 class="education-significant__heading">
                    SIGNIFICANT CONTENT
                </h2>
            </div>
            <div class="education-significant__col">
                <div class="education-significant__text">
                    <p>
                        The curriculum is broad and balanced requiring students to study a range of disciplines.
                    </p>
                    <p>
                        Learning is concept-based. Information is not learned in isolation, but connected within and
                        across subject areas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="education-approaches">
    <div class="container">
        <div class="education-approaches__row">
            <div class="education-approaches__col">
                <div class="education-approaches__semicircle-pattern">
                    <div class="education-approaches__semicircle-pattern--inner"></div>
                </div>
                <h3 class="education-approaches__heading">
                    WHAT ARE THE IB APPROACHES TO LEARNING SKILLS?

                </h3>
                <ol class="education-approaches__list">
                    <li class="education-approaches__list-item">
                        Thinking
                        skills
                    </li>
                    <li class="education-approaches__list-item">
                        Communications
                        skills
                    </li>
                    <li class="education-approaches__list-item">
                        Social
                        skills
                    </li>
                    <li class="education-approaches__list-item">
                        Self-management
                        skills
                    </li>
                    <li class="education-approaches__list-item">
                        Research
                        skills
                    </li>
                </ol>
            </div>
            <div class="education-approaches__col">
                <img src="img/education-semicircle.svg" alt="" class="education-approaches__semicircle-image">
                <h3 class="education-approaches__heading">
                    WHAT ARE THE IB APPROACHES TO TEACHING SKILLS?

                </h3>
                <ol class="education-approaches__list">
                    <li class="education-approaches__list-item">
                        Based on inquiry
                    </li>
                    <li class="education-approaches__list-item">
                        Focused on conceptual understanding
                    </li>
                    <li class="education-approaches__list-item">
                        Developed in local and global contexts
                    </li>
                    <li class="education-approaches__list-item">
                        Focused on effective teamwork and collaboration
                    </li>
                    <li class="education-approaches__list-item">
                        Differentiated to meet the needs of all learners
                    </li>
                    <li class="education-approaches__list-item">
                        Informed by formative and summative assessment
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

{{> sign-up }}

{{/content}}
{{/extend}}