{{#extend "layout"}}
{{#content "main"}}

<section class="education-intro education-intro--for-parents">
    <div class="container">
        <div class="education-intro__row">
            <div class="education-intro__left-col">
                <div class="education-intro__bg">
                    <img src="img/for-parents-bg.jpg" alt="" class="education-intro__bg-image">
                </div>
                <h1 class="education-intro__main-heading">
                    FOR PARENTS
                </h1>
                <div class="education-intro__main-text">
                    In addition to academic development, emotional and physical growth are also critical in educating
                    the whole student.
                </div>
            </div>
            <div class="education-intro__right-col">
                <div class="education-intro__right-col-content">
                    <h2 class="education-intro__second-heading">
                        HOW TO ORDER A SCHOOL UNIFORM
                    </h2>
                    <div class="education-intro__second-heading-text">
                        <p>
                            A school uniform is ordered directly from our official partners. To order a uniform, please,
                            refer to the contacts below:

                        </p>
                    </div>
                    <div class="education-intro__contacts">
                        <ul class="education-intro__contacts-list">
                            <li class="education-intro__contacts-list-item">
                                <div class="education-intro__contacts-card">
                                    <div class="education-intro__contacts-card-key">
                                        Atelier
                                    </div>
                                    <div class="education-intro__contacts-card-value">
                                        “Singer”
                                    </div>
                                </div>

                            </li>
                            <li class="education-intro__contacts-list-item">
                                <div class="education-intro__contacts-card">
                                    <div class="education-intro__contacts-card-key">
                                        Contacts
                                    </div>
                                    <div class="education-intro__contacts-card-value">
                                        +7 937 287-05-09, Julia
                                    </div>
                                </div>

                            </li>
                            <li class="education-intro__contacts-list-item">
                                <div class="education-intro__contacts-card">
                                    <div class="education-intro__contacts-card-key">
                                        Office hours
                                    </div>
                                    <div class="education-intro__contacts-card-value">
                                        M–F, 8 am – 5 pm
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>

                </div>


            </div>

        </div>
    </div>
</section>

<section class="uniform">
    <div class="container">
        <div class="uniform__row js-uniform-slider">
            <div class="uniform__left-col">
                <div class="uniform__slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="uniform__slider-card">
                                    <img src="img/uniform-slider-image.jpg" alt="" class="uniform__slider-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="uniform__slider-card">
                                    <img src="img/uniform-slider-image.jpg" alt="" class="uniform__slider-card-image">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="uniform__slider-card">
                                    <img src="img/uniform-slider-image.jpg" alt="" class="uniform__slider-card-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uniform__right-col">
                <div class="uniform__content">


                    <h2 class="uniform__heading">
                        SCHOOL UNIFORM
                    </h2>
                    <div class="uniform__text">
                        <p>
                            All ISK students are expected to wear the official school uniform and to look neat and clean
                            at
                            all times. ISK believes that the school uniform builds a sense of community, and nurtures
                            students’ responsibility for their personal appearance.
                        </p>
                    </div>
                </div>


                <div class="uniform__slider-arrows">
                    <button class="uniform__slider-arrow uniform__slider-arrow--prev">
                        <svg width="17" height="27" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="uniform__slider-arrow uniform__slider-arrow--next">
                        <svg width="17" height="27" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="calendar">
    <div class="container">
        <div class="calendar__row">
            <div class="calendar__left-col">
                <div class="calendar__table">
                    <div class="calendar__table-controls">
                        <button class="calendar__table-arrow">
                            <svg width="17" height="27" aria-hidden="true" class="icon-arrow-left">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </button>
                        <div class="calendar__table-month">
                            FEBRUARY 2021
                        </div>
                        <button class="calendar__table-arrow">
                            <svg width="17" height="27" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="calendar__table-events">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        MON
                                    </th>
                                    <th>
                                        TUE
                                    </th>
                                    <th>
                                        WED
                                    </th>
                                    <th>
                                        THU
                                    </th>
                                    <th>
                                        FRI
                                    </th>
                                    <th>
                                        SAT
                                    </th>
                                    <th>
                                        SUN
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="calendar__table-number">
                                            1
                                        </div>
                                    </td>
                                    <td>
                                        <div class="calendar__table-number">
                                            2
                                        </div>
                                    </td>
                                    <td class="highlighted">
                                        <div class="calendar__table-number">
                                            3
                                            <div class="calendar__table-dropdown">
                                                <div class="calendar__table-dropdown-inner">
                                                    Event 1
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="calendar__table-number">
                                            4
                                        </div>
                                    </td>
                                    <td>
                                        <div class="calendar__table-number">
                                            5
                                        </div>
                                    </td>
                                    <td>
                                        <div class="calendar__table-number">
                                            6
                                        </div>
                                    </td>
                                    <td>
                                        <div class="calendar__table-number">
                                            7
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="calendar__table-number">
                                            8
                                        </div>
                                    </td>
                                    <td>
                                        <div class="calendar__table-number">
                                            9
                                        </div>
                                    </td>
                                    <td class="highlighted">
                                        <div class="calendar__table-number">
                                            10
                                            <div class="calendar__table-dropdown">
                                                <div class="calendar__table-dropdown-inner">
                                                    Event 1
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="calendar__table-number">
                                            11
                                        </div>
                                    </td>
                                    <td>
                                        <div class="calendar__table-number">
                                            12
                                        </div>
                                    </td>
                                    <td>
                                        <div class="calendar__table-number">
                                            13
                                        </div>
                                    </td>
                                    <td>
                                        <div class="calendar__table-number">
                                            14
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="calendar__table-number">
                                            15
                                        </div>
                                    </td>
                                    <td>
                                        <div class="calendar__table-number">
                                            16
                                        </div>
                                    </td>
                                    <td>
                                        <div class="calendar__table-number">
                                            17
                                        </div>

                                    </td>
                                    <td>
                                        <div class="calendar__table-number">
                                            18
                                        </div>
                                    </td>
                                    <td>
                                        <div class="calendar__table-number">
                                            19
                                        </div>
                                    </td>
                                    <td>
                                        <div class="calendar__table-number">
                                            20
                                        </div>
                                    </td>
                                    <td>
                                        <div class="calendar__table-number">
                                            21
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="calendar__table-number">
                                            22
                                        </div>
                                    </td>
                                    <td>
                                        <div class="calendar__table-number">
                                            23
                                        </div>
                                    </td>
                                    <td>
                                        <div class="calendar__table-number">
                                            24
                                        </div>

                                    </td>
                                    <td>
                                        <div class="calendar__table-number">
                                            25
                                        </div>
                                    </td>
                                    <td>
                                        <div class="calendar__table-number">
                                            26
                                        </div>
                                    </td>
                                    <td>
                                        <div class="calendar__table-number">
                                            27
                                        </div>
                                    </td>
                                    <td>
                                        <div class="calendar__table-number">
                                            28
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="calendar__right-col">
                <div class="calendar__calendar-btns">
                    <a href="#" class="calendar__calendar-btn">
                        <img src="img/calendar-btn-1.svg" alt="" class="calendar__calendar-btn-icon">
                        <div class="calendar__calendar-btn-text">
                            Schedule<br> google<br> calendar
                        </div>

                    </a>
                    <a href="#" class="calendar__calendar-btn">
                        <img src="img/calendar-btn-2.svg" alt="" class="calendar__calendar-btn-icon">
                        <div class="calendar__calendar-btn-text">
                            pdf
                        </div>

                    </a>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="sports">
    <div class="container">
        <h2 class="sports__heading">
            SPORTS
        </h2>
        <div class="sports__slider">
            <div class="education-school__slider js-education-school-slider">
                <div class="education-school__slider-wrapper">
                    <div class="education-school__slider-arrows">
                        <button class="education-school__slider-arrow education-school__slider-arrow--prev">
                            <svg width="17" height="27" aria-hidden="true" class="icon-arrow-left">
                                <use xlink:href="#arrow-left"></use>
                            </svg>
                        </button>
                        <button class="education-school__slider-arrow education-school__slider-arrow--next">
                            <svg width="17" height="27" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </div>

                    <div class="education-school__slider-main">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="education-school__slider-card">
                                        <div class="education-school__slider-card-image-wrapper">
                                            <img src="img/education-slider/1.jpg" alt=""
                                                class="education-school__slider-card-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="education-school__slider-card">
                                        <div class="education-school__slider-card-image-wrapper">
                                            <img src="img/education-slider/2.jpg" alt=""
                                                class="education-school__slider-card-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="education-school__slider-card">
                                        <div class="education-school__slider-card-image-wrapper">
                                            <img src="img/education-slider/1.jpg" alt=""
                                                class="education-school__slider-card-image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="sports__slider-link">
                        Co-curriculum activities
                    </a>
                </div>
            </div>

        </div>
        <div class="sports__text">
            <p>
                Students have physical exercise as part of their regular educational program. In addition, students may
                join extracurricular activities related to sports and exercise, such as football, dance, martial arts
                and more.


            </p>
            <p>
                ISK has spacious gyms, playing fields and a swimming pool. Equipment is provided for a wide variety of
                sports and activities.
            </p>
        </div>
    </div>
</section>


<section class="nutrition">
    <div class="container">
        <div class="nutrition__row">
            <div class="nutrition__left-col">
                <div class="nutrition__slider js-nutrition-slider">
                    <div class="nutrition__slider-wrapper">


                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="nutrition__slider-card">
                                        <img src="img/nutrition-slider-1.jpg" alt=""
                                            class="nutrition__slider-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="nutrition__slider-card">
                                        <img src="img/nutrition-slider-1.jpg" alt=""
                                            class="nutrition__slider-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="nutrition__slider-card">
                                        <img src="img/nutrition-slider-1.jpg" alt=""
                                            class="nutrition__slider-card-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nutrition__slider-arrows">
                            <button class="nutrition__slider-arrow nutrition__slider-arrow--prev">
                                <svg width="17" height="27" aria-hidden="true" class="icon-arrow-left">
                                    <use xlink:href="#arrow-up"></use>
                                </svg>
                            </button>
                            <button class="nutrition__slider-arrow nutrition__slider-arrow--next">
                                <svg width="17" height="27" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </button>
                        </div>
                        <a href="#" class="nutrition__slider-sample-menu">
                            Sample menu
                        </a>
                        <div class="nutrition__slider-sample-menu-modal">
                            <div class="nutrition__slider-sample-menu-modal-inner">
                                <button class="nutrition__slider-sample-menu-modal-close">
                                    <svg width="20" height="20" aria-hidden="true" class="icon-cross">
                                        <use xlink:href="#cross"></use>
                                    </svg>
                                </button>
                                <div class="nutrition__slider-sample-menu-text">
                                    <p>
                                        Each day's menu is based upon this menu outline. Exact dishes are determined
                                        within the framework of the outline, and taking into account the availability of
                                        products in the market.
                                    </p>
                                </div>
                                <ul class="nutrition__slider-sample-menu-list">
                                    <li class="nutrition__slider-sample-menu-list-item">
                                        <div class="nutrition__slider-sample-menu-card">
                                            <h4 class="nutrition__slider-sample-menu-card-heading">
                                                BREAKFAST
                                            </h4>
                                            <ul class="nutrition__slider-sample-menu-card-list">
                                                <li class="nutrition__slider-sample-menu-card-list-item">
                                                    Baked curd pudding or omelet
                                                </li>
                                                <li class="nutrition__slider-sample-menu-card-list-item">
                                                    Milk porridge
                                                </li>
                                                <li class="nutrition__slider-sample-menu-card-list-item">
                                                    Sandwich, pancakes or waffles
                                                </li>
                                                <li class="nutrition__slider-sample-menu-card-list-item">
                                                    Yoghurt
                                                </li>
                                                <li class="nutrition__slider-sample-menu-card-list-item">
                                                    Fruit Tea and cacao
                                                </li>
                                                <li class="nutrition__slider-sample-menu-card-list-item">
                                                    Bread
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nutrition__slider-sample-menu-list-item">
                                        <div class="nutrition__slider-sample-menu-card">
                                            <h4 class="nutrition__slider-sample-menu-card-heading">
                                                LUNCH
                                            </h4>
                                            <ul class="nutrition__slider-sample-menu-card-list">
                                                <li class="nutrition__slider-sample-menu-card-list-item">
                                                    Salad

                                                </li>
                                                <li class="nutrition__slider-sample-menu-card-list-item">
                                                    Soup

                                                </li>
                                                <li class="nutrition__slider-sample-menu-card-list-item">
                                                    Meat, chicken or fish

                                                </li>
                                                <li class="nutrition__slider-sample-menu-card-list-item">
                                                    Side dish: macaroni, cereal or vegetables

                                                </li>
                                                <li class="nutrition__slider-sample-menu-card-list-item">
                                                    Tea and stewed fruit

                                                </li>
                                                <li class="nutrition__slider-sample-menu-card-list-item">
                                                    Bread
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nutrition__slider-sample-menu-list-item">
                                        <div class="nutrition__slider-sample-menu-card">
                                            <h4 class="nutrition__slider-sample-menu-card-heading">
                                                DINNER
                                            </h4>
                                            <ul class="nutrition__slider-sample-menu-card-list">
                                                <li class="nutrition__slider-sample-menu-card-list-item">
                                                    Meat, chicken or fish
                                                </li>
                                                <li class="nutrition__slider-sample-menu-card-list-item">
                                                    Side dish: macaroni, cereal or vegetables
                                                </li>
                                                <li class="nutrition__slider-sample-menu-card-list-item">
                                                    Pastry
                                                </li>
                                                <li class="nutrition__slider-sample-menu-card-list-item">
                                                    Tea and stewed fruit
                                                </li>
                                                <li class="nutrition__slider-sample-menu-card-list-item">
                                                    Bread
                                                </li>

                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nutrition__right-col">
                <div class="nutrition__content">
                    <h2 class="nutrition__heading">
                        NUTRITION
                    </h2>
                    <div class="nutrition__text">
                        <p>
                            ISK serves breakfast, lunch and afternoon snack; the cost is included in tuition. The menu
                            was
                            developed by a nutritionist, and all meals are prepared at school.
                        </p>
                        <p>
                            ISK pays close attention to students with special nutritional needs, such as religious
                            requirements or allergies.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="health">
    <div class="container">
        <div class="health__row">
            <div class="health__left-col">
                <h2 class="health__heading">
                    HEALTH
                </h2>
                <div class="health__text">
                    <p>
                        ISK has a medical team including pediatricians and nurses. The team provides medical care as
                        needed during the school day, keeps medical records, gives recommendations to parents and, if
                        necessary, recommends consultations with specialist physicians.
                    </p>
                </div>
            </div>
            <div class="health__right-col">
                <div class="health__image-container">
                    <img src="img/health-bg.jpg" alt="" class="health__image">
                </div>
            </div>
        </div>
    </div>
</section>

{{> sign-up }}

{{/content}}
{{/extend}}