{{#extend "layout"}}
{{#content "main"}}

<section class="intro js-intro">
    <div class="intro__backgrounds">
        <div class="intro__background">



            <video class="lazyload intro__background-image" muted="" data-autoplay="" loop playsinline
                data-poster="img/intro-left-bg-image.jpg" preload="none">
                <source src="assets/video/education.mp4" type="video/mp4" />
            </video>
        </div>
        <div class="intro__background">


            <video class="lazyload intro__background-image" muted="" data-autoplay="" loop playsinline
                data-poster="img/intro-right-bg-image.jpg" preload="none">
                <source src="assets/video/admission.mp4" type="video/mp4" />
            </video>
        </div>
    </div>
    <div class="container">
        <div class="intro__content">
            <div class="intro__left-col js-intro-col">
                <div class="intro__semicircles">
                    <div class="intro__semicircle">
                        <div class="intro__semicircle-with-pattern">
                            <div class="intro__semicircle-with-pattern-inner-circle">

                            </div>
                        </div>
                    </div>
                    <img src="img/left-semicircle-active.svg" alt="" class="intro__semicircle" width="338">
                </div>
            </div>
            <div class="intro__right-col js-intro-col">

                <div class="intro__semicircles">
                    <img src="img/right-semicircle.svg" alt="" class="intro__semicircle" width="338">
                </div>

            </div>
            <div class="intro__text-content">
                <div class="intro__text-content-col intro__text-content-col--left js-intro-text-col">
                    <div class="intro__column-content">
                        <a href="#" class="intro__column-link">
                            Education
                        </a>
                        <div class="intro__column-text">
                            ISK in its holistic approach<br> focuses on the whole student<br> and life-long learning.
                        </div>
                    </div>
                </div>
                <div class="intro__text-content-col intro__text-content-col--right js-intro-text-col">
                    <div class="intro__column-content">
                        <a href="#" class="intro__column-link">
                            Admissions
                        </a>
                        <div class="intro__column-text">
                            Start you journey with ISK today. Apply online by completing the application form on our
                            website
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="intro__mobile-slider js-intro-mobile-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="intro__mobile-slider-card">
                            <div class="intro__mobile-slider-card-bg">
                                <video class="lazyload intro__mobile-slider-card-bg-video" muted="" data-autoplay=""
                                    loop playsinline data-poster="img/intro-left-bg-image.jpg" preload="none">
                                    <source src="assets/video/education.mp4" type="video/mp4" />
                                </video>
                            </div>
                            <h4 class="intro__mobile-slider-card-heading">
                                Education
                            </h4>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="intro__mobile-slider-card">
                            <div class="intro__mobile-slider-card-bg">
                                <video class="lazyload intro__mobile-slider-card-bg-video" muted="" data-autoplay="" loop
                                    playsinline data-poster="img/intro-right-bg-image.jpg" preload="none">
                                    <source src="assets/video/admission.mp4" type="video/mp4" />
                                </video>
                            </div>
                            <h4 class="intro__mobile-slider-card-heading">
                                Admissions
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro__mobile-slider-pagination">
                
            </div>
        </div>
    </div>
    <a href="#" class="intro__main-btn js-main-btn">
        Sign up for a tour
    </a>
</section>


<section class="mission">
    <div class="container">
        <div class="mission__row">
            <div class="mission__col">
                <h2 class="mission__heading">
                    Our<br>
                    mission
                </h2>
            </div>
            <div class="mission__col">
                <div class="mission__text">
                    <p>
                        Nurturing global citizens through meaningful education
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="admissions">
    <div class="container">
        <div class="admissions__content">


            <div class="admissions__text">
                Admissions are open for the 2020-2021 school year
            </div>
        </div>
    </div>
</section>


<section class="about">
    <div class="container">
        <div class="abount__row">
            <div class="about__left-col">
                <div class="about__text">
                    <p>
                        The International School of Kazan is authorized as an International Baccalaureate World School
                        for the Primary Years, Middle Years and Diploma Years Programmes. With two campuses and talented
                        international teachers, ISK offers a world-class education that prepares students for promising
                        futures.
                    </p>
                </div>
            </div>
            <div class="about__right-col">
                <ul class="about__partners-list">
                    <li class="about__partners-list-item">
                        <a href="#" class="about__partners-card">
                            <img src="img/partners/1.svg" alt="" class="about__partners-card-image">
                        </a>
                    </li>
                    <li class="about__partners-list-item">
                        <a href="#" class="about__partners-card">
                            <img src="img/partners/2.png" alt="" class="about__partners-card-image">
                        </a>
                    </li>
                    <li class="about__partners-list-item">
                        <a href="#" class="about__partners-card">
                            <img src="img/partners/3.png" alt="" class="about__partners-card-image">
                        </a>
                    </li>
                    <li class="about__partners-list-item">
                        <a href="#" class="about__partners-card">
                            <img src="img/partners/4.png" alt="" class="about__partners-card-image">
                        </a>
                    </li>
                    <li class="about__partners-list-item">
                        <a href="#" class="about__partners-card">
                            <img src="img/partners/5.png" alt="" class="about__partners-card-image">
                        </a>
                    </li>
                    <li class="about__partners-list-item">
                        <a href="#" class="about__partners-card">
                            <img src="img/partners/6.png" alt="" class="about__partners-card-image">
                        </a>
                    </li>
                    <li class="about__partners-list-item">
                        <a href="#" class="about__partners-card">
                            <img src="img/partners/7.png" alt="" class="about__partners-card-image">
                        </a>
                    </li>
                    <li class="about__partners-list-item">
                        <a href="#" class="about__partners-card">
                            <img src="img/partners/8.png" alt="" class="about__partners-card-image">
                        </a>
                    </li>
                    <li class="about__partners-list-item">
                        <a href="#" class="about__partners-card">
                            <img src="img/partners/9.jpg" alt="" class="about__partners-card-image">
                        </a>
                    </li>
                    <li class="about__partners-list-item">
                        <a href="#" class="about__partners-card">
                            <img src="img/partners/10.jpg" alt="" class="about__partners-card-image">
                        </a>
                    </li>
                    <li class="about__partners-list-item">
                        <a href="#" class="about__partners-card">
                            <img src="img/partners/11.jpg" alt="" class="about__partners-card-image">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="home-icons">
    <div class="container">
        <ul class="home-icons__list">
            <li class="home-icons__list-item">
                <div class="home-icons__card">
                    <div class="home-icons__card-icon-container">
                        <img src="img/home-icons/1.svg" alt="" class="home-icons__card-icon">
                    </div>
                    <h4 class="home-icons__card-title">
                        Continuous<br> improvement<br> from 2014
                    </h4>
                </div>
            </li>
            <li class="home-icons__list-item">
                <div class="home-icons__card">
                    <div class="home-icons__card-icon-container">
                        <img src="img/home-icons/2.svg" alt="" class="home-icons__card-icon">
                    </div>
                    <h4 class="home-icons__card-title">
                        International<br> Baccalaureate<br> accreditation
                    </h4>
                </div>
            </li>
            <li class="home-icons__list-item">
                <div class="home-icons__card">
                    <div class="home-icons__card-icon-container">
                        <img src="img/home-icons/3.svg" alt="" class="home-icons__card-icon">
                    </div>
                    <h4 class="home-icons__card-title">
                        All subjects<br> taught in English
                    </h4>
                </div>
            </li>
            <li class="home-icons__list-item">
                <div class="home-icons__card">
                    <div class="home-icons__card-icon-container">
                        <img src="img/home-icons/4.svg" alt="" class="home-icons__card-icon">
                    </div>
                    <h4 class="home-icons__card-title">
                        Preparing for both<br> national and<br> international exams
                    </h4>
                </div>
            </li>
            <li class="home-icons__list-item">
                <div class="home-icons__card">
                    <div class="home-icons__card-icon-container">
                        <img src="img/home-icons/5.svg" alt="" class="home-icons__card-icon">
                    </div>
                    <h4 class="home-icons__card-title">
                        Over 40<br> educators from<br> 12 countries
                    </h4>
                </div>
            </li>
            <li class="home-icons__list-item">
                <div class="home-icons__card">
                    <div class="home-icons__card-icon-container">
                        <img src="img/home-icons/6.svg" alt="" class="home-icons__card-icon">
                    </div>
                    <h4 class="home-icons__card-title">
                        National and IB diplomas<br> after successful<br> graduation
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>


<section class="news-and-events">
    <div class="container">
        <div class="news-and-events__row">
            <div class="news-and-events__left-col">
                <h3 class="news-and-events__heading">
                    News
                </h3>
                <div class="news-and-events__content js-events-preview">

                    <div class="swiper-container">


                        <ul class="swiper-wrapper news-and-events__list">
                            <li class="swiper-slide news-and-events__list-item">
                                <a href="#" class="news-and-events__card">
                                    <div class="news-and-events__card-preview">
                                        <img data-src="img/events-preview.jpg" alt=""
                                            class="news-and-events__card-preview-image lazyload">
                                    </div>
                                    <div class="news-and-events__card-date">
                                        16 October
                                    </div>
                                    <h4 class="news-and-events__card-title">
                                        International Day<br> 2020
                                    </h4>
                                </a>
                            </li>
                            <li class="swiper-slide news-and-events__list-item">
                                <a href="#" class="news-and-events__card">
                                    <div class="news-and-events__card-preview">
                                        <img data-src="img/events-preview.jpg" alt=""
                                            class="news-and-events__card-preview-image lazyload">
                                    </div>
                                    <div class="news-and-events__card-date">
                                        1 September
                                    </div>
                                    <h4 class="news-and-events__card-title">
                                        Day of Knowledge 2020
                                    </h4>
                                </a>
                            </li>
                            <li class="swiper-slide news-and-events__list-item">
                                <a href="#" class="news-and-events__card">
                                    <div class="news-and-events__card-preview">
                                        <img data-src="img/events-preview.jpg" alt=""
                                            class="news-and-events__card-preview-image lazyload">
                                    </div>
                                    <div class="news-and-events__card-date">
                                        10 March
                                    </div>
                                    <h4 class="news-and-events__card-title">
                                        ISK's Got Talent Show 2020
                                    </h4>
                                </a>
                            </li>
                            <li class="swiper-slide news-and-events__list-item">
                                <a href="#" class="news-and-events__card">
                                    <div class="news-and-events__card-preview">
                                        <img data-src="img/events-preview.jpg" alt=""
                                            class="news-and-events__card-preview-image lazyload">
                                    </div>
                                    <div class="news-and-events__card-date">
                                        17 January
                                    </div>
                                    <h4 class="news-and-events__card-title">
                                        PYP workshop for teachers
                                    </h4>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="news-and-events__controls">
                        <div class="news-and-events__arrows">
                            <button class="news-and-events__arrow news-and-events__arrow--prev">
                                <svg width="17" height="27" aria-hidden="true" class="icon-arrow-left">
                                    <use xlink:href="#arrow-left"></use>
                                </svg>
                            </button>
                            <button class="news-and-events__arrow news-and-events__arrow--next">
                                <svg width="17" height="27" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="news-and-events__preview">
                        <div class="news-and-events__preview-item">
                            <img src="img/events-preview.jpg" alt="" class="news-and-events__preview-image">
                        </div>
                        <div class="news-and-events__preview-item news-and-events__preview-item--no-image">

                        </div>
                        <div class="news-and-events__preview-item">
                            <img src="img/events-preview.jpg" alt="" class="news-and-events__preview-image">
                        </div>
                        <div class="news-and-events__preview-item">
                            <img src="img/events-preview.jpg" alt="" class="news-and-events__preview-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="news-and-events__right-col">
                <h3 class="news-and-events__heading">
                    Event <br>
                    calendar
                </h3>
                <div class="news-and-events__content js-events-preview">

                    <div class="swiper-container">


                        <ul class="swiper-wrapper news-and-events__list">
                            <li class="swiper-slide news-and-events__list-item">
                                <a href="#" class="news-and-events__card">
                                    <div class="news-and-events__card-preview news-and-events__card-preview--no-image">

                                    </div>

                                    <div class="news-and-events__card-date">
                                        18 december
                                    </div>
                                    <h4 class="news-and-events__card-title">
                                        Last Day of Semester 1 (half day)
                                    </h4>
                                </a>
                            </li>
                            <li class="swiper-slide news-and-events__list-item">
                                <a href="#" class="news-and-events__card">
                                    <div class="news-and-events__card-preview news-and-events__card-preview--no-image">

                                    </div>
                                    <div class="news-and-events__card-date">
                                        21-31 december
                                    </div>
                                    <h4 class="news-and-events__card-title">
                                        School Holiday
                                    </h4>
                                </a>
                            </li>
                            <li class="swiper-slide news-and-events__list-item">
                                <a href="#" class="news-and-events__card">
                                    <div class="news-and-events__card-preview news-and-events__card-preview--no-image">

                                    </div>
                                    <div class="news-and-events__card-date">
                                        02-08 january
                                    </div>
                                    <h4 class="news-and-events__card-title">
                                        New Year Holidays Week
                                    </h4>
                                </a>
                            </li>
                            <li class="swiper-slide news-and-events__list-item">
                                <a href="#" class="news-and-events__card">
                                    <div class="news-and-events__card-preview news-and-events__card-preview--no-image">

                                    </div>
                                    <div class="news-and-events__card-date">
                                        02-08 january
                                    </div>
                                    <h4 class="news-and-events__card-title">
                                        New Year's Day
                                    </h4>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="news-and-events__controls">


                        <div class="news-and-events__arrows">
                            <button class="news-and-events__arrow news-and-events__arrow--prev">
                                <svg width="17" height="27" aria-hidden="true" class="icon-arrow-left">
                                    <use xlink:href="#arrow-left"></use>
                                </svg>
                            </button>
                            <button class="news-and-events__arrow news-and-events__arrow--next">
                                <svg width="17" height="27" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="news-and-events__preview">
                        <div class="news-and-events__preview-item news-and-events__preview-item--no-image">

                        </div>
                        <div class="news-and-events__preview-item news-and-events__preview-item--no-image">

                        </div>
                        <div class="news-and-events__preview-item news-and-events__preview-item--no-image">

                        </div>
                        <div class="news-and-events__preview-item news-and-events__preview-item--no-image">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="reviews">
    <div class="reviews__row js-reviews-slider">
        <div class="reviews__left-col">

            <h2 class="reviews__heading">
                Reviews
            </h2>
            <div class="reviews__main-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="reviews__main-slider-card">
                                <div class="reviews__main-slider-card-text">
                                    <p>
                                        Our family is really happy that we chose the International School of Kazan.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="reviews__main-slider-card">
                                <div class="reviews__main-slider-card-text">
                                    <p>
                                        The International School of Kazan is full of friendship, energy and activity,
                                        and its system and quality of education is at its best...
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="reviews__main-slider-card">
                                <div class="reviews__main-slider-card-text">
                                    <p>
                                        In my opinion, the International School of Kazan is the best educational
                                        establishment in our republic...

                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="reviews__main-slider-card">
                                <div class="reviews__main-slider-card-text">
                                    <p>
                                        Our family is really happy that we chose the International School of Kazan.
                                    </p>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="reviews__main-slider-card">
                                <div class="reviews__main-slider-card-text">
                                    <p>
                                        Our family is really happy that we chose the International School of Kazan.
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews__slider-controls">
                <div class="reviews__slider-pagination">
                    <a href="#" class="reviews__slider-pagination-bullet">

                    </a>
                    <a href="#" class="reviews__slider-pagination-bullet">

                    </a>
                    <a href="#" class="reviews__slider-pagination-bullet">

                    </a>
                    <a href="#" class="reviews__slider-pagination-bullet">

                    </a>
                    <a href="#" class="reviews__slider-pagination-bullet">

                    </a>
                </div>
                <div class="reviews__slider-arrows">
                    <button class="reviews__slider-arrow reviews__slider-arrow--prev">
                        <svg width="17" height="27" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="reviews__slider-arrow reviews__slider-arrow--next">
                        <svg width="17" height="27" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>

        </div>
        <div class="reviews__right-col">
            <div class="reviews__thumbs-slider">
                <div class="reviews__thumbs-slider-card">
                    <div class="reviews__thumbs-slider-card-image-container">
                        <img src="img/student-1.jpg" alt="" class="reviews__thumbs-slider-card-image">
                    </div>
                    <div class="reviews__thumbs-slider-name">
                        Guzel
                        Sergeeva
                    </div>
                </div>
                <div class="reviews__thumbs-slider-card">
                    <div class="reviews__thumbs-slider-card-image-container">
                        <img src="img/student-2.jpg" alt="" class="reviews__thumbs-slider-card-image">
                    </div>
                    <div class="reviews__thumbs-slider-name">
                        Ehsan Shariatmadari
                    </div>
                </div>
                <div class="reviews__thumbs-slider-card">
                    <div class="reviews__thumbs-slider-card-image-container">
                        <img src="img/student-1.jpg" alt="" class="reviews__thumbs-slider-card-image">
                    </div>
                    <div class="reviews__thumbs-slider-name">
                        Anna Kornilova

                    </div>
                </div>
                <div class="reviews__thumbs-slider-card">
                    <div class="reviews__thumbs-slider-card-image-container">
                        <img src="img/student-2.jpg" alt="" class="reviews__thumbs-slider-card-image">
                    </div>
                    <div class="reviews__thumbs-slider-name">
                        Guzel
                        Sergeeva 4
                    </div>
                </div>
                <div class="reviews__thumbs-slider-card">
                    <div class="reviews__thumbs-slider-card-image-container">
                        <img src="img/student-1.jpg" alt="" class="reviews__thumbs-slider-card-image">
                    </div>
                    <div class="reviews__thumbs-slider-name">
                        Guzel
                        Sergeeva 5
                    </div>
                </div>
            </div>

            <a href="#" class="reviews__all-reviews-link">
                all reviews
            </a>
        </div>
    </div>
</section>

<section class="social">
    <div class="container">
        <div class="social__heading-block">
            <h2 class="social__heading">
                WE ARE IN SOCIAL NETWORKS
            </h2>
            <a href="#" class="social__tag">
                #iskfamily
            </a>
        </div>


    </div>
    <ul class="social__grid">
        <li class="social__grid-item">
            <a href="#" class="social__card">
                <img src="img/social/1.jpg" alt="" class="social__card-image">
            </a>
        </li>
        <li class="social__grid-item">
            <a href="#" class="social__card">
                <img src="img/social/2.jpg" alt="" class="social__card-image">
            </a>
        </li>
        <li class="social__grid-item">
            <a href="#" class="social__card">
                <img src="img/social/3.jpg" alt="" class="social__card-image">
            </a>
        </li>
        <li class="social__grid-item">
            <a href="#" class="social__card">
                <img src="img/social/4.jpg" alt="" class="social__card-image">
            </a>
        </li>
        <li class="social__grid-item">
            <a href="#" class="social__card">
                <img src="img/social/5.jpg" alt="" class="social__card-image">
            </a>
        </li>
        <li class="social__grid-item">
            <a href="#" class="social__card">
                <img src="img/social/6.jpg" alt="" class="social__card-image">
            </a>
        </li>
        <li class="social__grid-item">
            <a href="#" class="social__card">
                <img src="img/social/7.jpg" alt="" class="social__card-image">
            </a>
        </li>
    </ul>
</section>

{{/content}}
{{/extend}}