{{#extend "layout"}}
{{#content "main"}}


<section class="intro-with-nav">
    <div class="container">
        <div class="intro-with-nav__row intro-with-nav__row--reviews">
            <div class="intro-with-nav__left-col">
                <div class="intro-with-nav__bg">
                    <img src="img/infra-bg.jpg" alt="" class="intro-with-nav__bg-image">
                </div>
                <h1 class="intro-with-nav__heading">
                    INFRASTRUCTURE AND EQUIPMENT
                </h1>
                <div class="intro-with-nav__text">
                    <p>
                        ISK is a school of future. We work for progress of our children, so that they can absorb as much
                        knowledge as they can, communicating with teachers and each other. You cannot lock the child
                        within the four walls, you cannot make him sit quietly, and you cannot expect great achievements
                        in this case. Some children assimilate information visually, some orally, and some of them have
                        to move constantly. The American group of architects Fielding Nair International did the design
                        of ISK. They specialize in design of schools and kindergartens and create spaces, convenient for
                        study.
                    </p>
                </div>
            </div>
            <div class="intro-with-nav__right-col">
                <nav class="intro-with-nav__nav">
                    <a href="#" class="intro-with-nav__link active">
                        Infrastructure and equipment
                    </a>
                    <a href="#" class="intro-with-nav__link">
                        Reviews
                    </a>
                    <a href="#" class="intro-with-nav__link">
                        Philosophy
                    </a>

                </nav>
            </div>
        </div>
    </div>

</section>

<section class="diploma">
    <div class="container">
        <div class="education-school__slider js-education-school-slider">
            <div class="education-school__slider-wrapper">
                <div class="education-school__slider-arrows">
                    <button class="education-school__slider-arrow education-school__slider-arrow--prev">
                        <svg width="17" height="27" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="education-school__slider-arrow education-school__slider-arrow--next">
                        <svg width="17" height="27" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>

                <div class="education-school__slider-main">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="education-school__slider-card">
                                    <div class="education-school__slider-card-image-wrapper">
                                        <img src="img/infra-slider-1.jpg" alt=""
                                            class="education-school__slider-card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="education-school__slider-card">
                                    <div class="education-school__slider-card-image-wrapper">
                                        <img src="img/infra-slider-2.jpg" alt=""
                                            class="education-school__slider-card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="education-school__slider-card">
                                    <div class="education-school__slider-card-image-wrapper">
                                        <img src="img/infra-slider-1.jpg" alt=""
                                            class="education-school__slider-card-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
       
    </div>
</section>


{{> sign-up }}

{{/content}}
{{/extend}}