{{#extend "layout"}}
{{#content "main"}}

<section class="not-found">
    <div class="container">
        <div class="not-found__content">
            <div class="not-found__circle">
                <div class="not-found__circle-left-half">
                    <div class="not-found__circle-with-pattern">

                    </div>
                </div>
                <img src="img/right-semicircle.svg" alt="" class="not-found__circle-right-half">
                <div class="not-found__circle-code">
                    404
                    <div class="not-found__circle-code-text">
                        Sorry :(<br>
                        This page does<br>
                        not exist.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}