{{#extend "layout"}}
{{#content "main"}}


<section class="our-team-intro">
    <div class="our-team-intro__bg">
        <img src="img/out-team-bg.jpg" alt="" class="our-team-intro__bg-image">
    </div>
    <div class="container">
        <div class="our-team-intro__content">
            <h1 class="our-team-intro__heading">
                SENIOR LEADERSHIP TEAM

            </h1>
            <div class="our-team-intro__text">
                <p>
                    Our Senior Leadership Team consists of confident professionals with a wealth of experience in school
                    leadership. They work as a team to ensure a high-functioning, productive environment for all members
                    of our community.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="our-team-people">

    <div class="container">

        <div class="our-team-people__director">
            <div class="our-team-people__director-image-container">
                <img src="img/our-team-image-1.jpg" alt="" class="our-team-people__director-image">
            </div>
            <div class="our-team-people__director-content">
                <div class="our-team-people__card">
                    <h3 class="our-team-people__card-title">
                        NIYAZ<br>
                        GAFIYATULLIN
                    </h3>
                    <div class="our-team-people__card-role">
                        Director
                    </div>
                    <div class="our-team-people__card-text">
                        <p>
                            <em>
                                Countries Worked In:
                            </em>Russia
                        </p>
                        <p>
                            <em>
                                Highest Degree:
                            </em>
                            Master’s
                        </p>
                        <p>
                            <em>
                                Field of Study:
                            </em>
                            Administration in<br> International Education
                        </p>
                        <p>
                            <em>
                                Favorite Quote:
                            </em>
                            “I believe in what works”
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="our-team-people__deputy-director">
            <div class="our-team-people__deputy-director-content">
                <div class="our-team-people__card">
                    <h3 class="our-team-people__card-title">
                        FLEWS<br>
                        GARIPOV
                    </h3>
                    <div class="our-team-people__card-role">
                        Deputy director
                    </div>
                    <div class="our-team-people__card-text">
                        <p>
                            <em>
                                Countries Worked In:
                            </em>Russia, United States of America
                        </p>
                        <p>
                            <em>
                                Highest Degree: Master’s
                            </em>
                            Master’s
                        </p>
                        <p>
                            <em>
                                Field of Study:
                            </em>
                            Education administration
                        </p>
                        <p>
                            <em>
                                Favorite Quote:
                            </em>
                            “Education is what survives when what has been learned has been forgotten.” -
                            B.F.Skinner
                        </p>
                    </div>
                </div>
            </div>
            <div class="our-team-people__deputy-director-image-container">
                <img src="img/our-team-image-2.jpg" alt="" class="our-team-people__deputy-director-image">
            </div>
        </div>
    </div>

    <div class="our-team-people__white-bg">

    </div>

    <div class="container">
        <div class="our-team-people__primary-principals">
            <div class="our-team-people__inner-row">
                <div class="our-team-people__inner-col">
                    <div class="our-team-people__primary-principal-card">
                        <div class="our-team-people__primary-principal-card-image-container">
                            <img src="img/primary-principal.jpg" alt=""
                                class="our-team-people__primary-principal-card-image">
                        </div>

                        <div class="our-team-people__primary-principal-card-content">


                            <div class="our-team-people__card">
                                <h3 class="our-team-people__card-title">
                                    LEILA<br> ZAHAB
                                </h3>
                                <div class="our-team-people__card-role">
                                    Primary principal

                                </div>
                                <div class="our-team-people__card-text">
                                    <p>
                                        <em>
                                            Countries Worked In:
                                        </em> Russia, United Arab Emirates, United Kingdom
                                    </p>
                                    <p>
                                        <em>
                                            Highest Degree:
                                        </em> Master’s
                                    </p>
                                    <p>
                                        <em>
                                            Field of Study:
                                        </em> Educational Leadership
                                    </p>
                                    <p>
                                        <em>
                                            Favorite Quote:
                                        </em> “Education is the passport to the future, for tomorrow belongs to
                                        those
                                        who
                                        prepare for it today.” - Malcolm X
                                    </p>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="our-team-people__inner-col">
                    <div class="our-team-people__secondary-principal-card">
                        <div class="our-team-people__secondary-principal-card-image-container">
                            <img src="img/secondary-principal.jpg" alt=""
                                class="our-team-people__secondary-principal-card-image">
                        </div>
                        <div class="our-team-people__secondary-principal-card-content">


                            <div class="our-team-people__card">
                                <h3 class="our-team-people__card-title">
                                    BENGT<br> ROSBERG
                                </h3>
                                <div class="our-team-people__card-role">
                                    Secondary principal

                                </div>
                                <div class="our-team-people__card-text">
                                    <p>
                                        <em>
                                            Countries Worked In:
                                        </em>Malaysia, Qatar, Russia, Sweden
                                    </p>
                                    <p>
                                        <em>
                                            Highest Degree:
                                        </em>Master’s
                                    </p>

                                    <p>
                                        <em>
                                            Field of Study:
                                        </em>Educational Leadership
                                    </p>
                                    <p>
                                        <em>
                                            Favorite Quote:
                                        </em>“The limits of my language mean the limits of my world.” - Wittgenstein
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="our-team-people__academic-director">
            <div class="our-team-people__academic-director-image-container">
                <img src="img/academic-director.jpg" alt="" class="our-team-people__academic-director-image">
            </div>
            <div class="our-team-people__academic-director-content">
                <div class="our-team-people__card">
                    <h3 class="our-team-people__card-title">
                        DIANA<br> ROSBERG
                    </h3>
                    <div class="our-team-people__card-role">
                        Academic director
                    </div>
                    <div class="our-team-people__card-text">
                        <p>
                            <em>
                                Countries Worked In:
                            </em>Kuwait, Latvia, Malaysia, Nicaragua, Qatar, Russia
                        </p>
                        <p>
                            <em>
                                Highest Degree: Master’s
                            </em>
                            Master’s
                        </p>
                        <p>
                            <em>
                                Field of Study:
                            </em>
                            Educational Leadership; Curriculum & Instruction
                        </p>
                        <p>
                            <em>
                                Favorite Quote:
                            </em>
                            “The best time to plant an oak tree is 50 years ago. The second best time is today.” -
                            Chinese proverb
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="our-team-jobs">
    <div class="container">
        <div class="our-team-jobs__row">
            <div class="our-team-jobs__left-col">
                <div class="our-team-jobs__image-container">
                    <img src="img/our-jobs.jpg" alt="" class="our-team-jobs__image">
                </div>

            </div>
            <div class="our-team-jobs__right-col">
                <div class="our-team-jobs__content">
                    <h2 class="our-team-jobs__heading">
                        Jobs
                    </h2>
                    <div class="our-team-jobs__text">
                        <p>
                            We invite international teachers with PYP, MYP, DP or similar experience to apply. We also
                            invite local teachers and teaching assistants with knowledge of English language at the
                            level of native speaker to apply
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{{/content}}
{{/extend}}
