{{#extend "layout"}}
{{#content "main"}}


<section class="our-team-intro">
    <div class="our-team-intro__bg">
        <img src="img/our-team-slider-bg.jpg" alt="" class="our-team-intro__bg-image">
    </div>
    <div class="container">
        <div class="our-team-intro__content">
            <h1 class="our-team-intro__heading">
                Our team

            </h1>
            <div class="our-team-intro__text">
                <p>
                    ISK has gathered professionals around the globe with the goal of bringing world class education to
                    Kazan. ISK supports the International Task Force for child protection. Our hiring practices are in
                    compliance with their recommended recruitment procedures.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="our-team-slider js-our-team-slider">
    <div class="container">
        <div class="our-team-slider__cards">
          
            <div class="our-team-slider__card">
                <div class="our-team-slider__card-image-container">
                    <img src="img/creativity.jpg" alt="" class="our-team-slider__card-image">
                </div>
                <a href="#" class="our-team-slider__card-btn">
                    Personal<br>
                    trainers
                </a>
            </div>
            <div class="our-team-slider__card">
                <div class="our-team-slider__card-image-container">
                    <img src="img/our-team-slider-1.jpg" alt="" class="our-team-slider__card-image">
                </div>
                <a href="#" class="our-team-slider__card-btn">
                    Personal<br>
                    helpers
                </a>
            </div>
            <div class="our-team-slider__card">
                <div class="our-team-slider__card-image-container">
                    <img src="img/our-team-slider-2.jpg" alt="" class="our-team-slider__card-image">
                </div>
                <a href="#" class="our-team-slider__card-btn">
                    Personal<br>
                    assistants
                </a>
            </div>
        </div>

        <div class="our-team-slider__arrows">
            <button class="our-team-slider__arrow our-team-slider__arrow--prev">
                <svg width="17" height="27" aria-hidden="true" class="icon-arrow-left">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </button>
            <button class="our-team-slider__arrow our-team-slider__arrow--next">
                <svg width="17" height="27" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>

{{> sign-up }}



{{/content}}
{{/extend}}