{{#extend "layout"}}
{{#content "main"}}


<section class="intro-with-nav">
    <div class="container">
        <div class="intro-with-nav__row intro-with-nav__row--reviews">
            <div class="intro-with-nav__left-col">
                <div class="intro-with-nav__bg">
                    <img src="img/diploma-bg.jpg" alt="" class="intro-with-nav__bg-image">
                </div>
                <h1 class="intro-with-nav__heading">
                   PHILOSOPHY
                </h1>
                <h2 class="intro-with-nav__small-heading">
                    CHOOSE ISK
                </h2>
                <div class="intro-with-nav__text">
                    <p>
                        When selecting a school, ISK is a natural choice for parents who want a meaningful international
                        education, providing high academic standards and relevant life skills. Our school nurtures
                        caring and open-minded students, with professional and inspiring teachers from all over the
                        world. Everyone wants to be part of the #ISKFamily. It’s the school no one wants to leave.

                    </p>
                </div>
            </div>
            <div class="intro-with-nav__right-col">
                <nav class="intro-with-nav__nav">
                    <a href="#" class="intro-with-nav__link">
                        Infrastructure and equipment
                    </a>
                    <a href="#" class="intro-with-nav__link">
                        Reviews
                    </a>
                    <a href="#" class="intro-with-nav__link active">
                        Philosophy
                    </a>

                </nav>
            </div>
        </div>
    </div>

</section>



{{> sign-up }}

{{/content}}
{{/extend}}