{{#extend "layout"}}
{{#content "main"}}


<section class="intro-with-nav">
    <div class="container">
        <div class="intro-with-nav__row intro-with-nav__row--reviews">
            <div class="intro-with-nav__left-col">
                <div class="intro-with-nav__bg">
                    <img src="img/primary-school-bg.jpg" alt="" class="intro-with-nav__bg-image">
                </div>
                <h1 class="intro-with-nav__heading">
                    PRIMARY SCHOOL

                </h1>
                <h2 class="intro-with-nav__small-heading">
                    THE IB PRIMARY YEARS PROGRAMME
                </h2>
                <div class="intro-with-nav__text">
                    <p>
                        addresses students’ academic, social and emotional well-being
                        encourages students to develop independence and to take responsibility for their own learning
                        supports students’ efforts to gain understanding of the world and to function comfortably within
                        it
                        helps students establish personal values as a foundation upon which international-mindedness
                        will develop and flourish.

                    </p>
                </div>
            </div>
            <div class="intro-with-nav__right-col">
                <nav class="intro-with-nav__nav">
                    <a href="#" class="intro-with-nav__link active">
                        PRIMARY<br>SCHOOL
                    </a>
                    <a href="#" class="intro-with-nav__link">
                        SECONDARY SCHOOL
                    </a>
                    <a href="#" class="intro-with-nav__link">
                        DP PROGRAM MODEL
                    </a>
                    <a href="#" class="intro-with-nav__link">
                        CO-CURRICULAR
                        ACTIVITIES
                    </a>
                </nav>
            </div>
        </div>
    </div>

</section>

<section class="diploma">
    <div class="container">
        <div class="education-school__slider js-education-school-slider">
            <div class="education-school__slider-wrapper">
                <div class="education-school__slider-arrows">
                    <button class="education-school__slider-arrow education-school__slider-arrow--prev">
                        <svg width="17" height="27" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"></use>
                        </svg>
                    </button>
                    <button class="education-school__slider-arrow education-school__slider-arrow--next">
                        <svg width="17" height="27" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>

                <div class="education-school__slider-main">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="education-school__slider-card">
                                    <div class="education-school__slider-card-image-wrapper">
                                        <img src="img/primary-school-slider-1.jpg" alt=""
                                            class="education-school__slider-card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="education-school__slider-card">
                                    <div class="education-school__slider-card-image-wrapper">
                                        <img src="img/primary-school-slider-2.jpg" alt=""
                                            class="education-school__slider-card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="education-school__slider-card">
                                    <div class="education-school__slider-card-image-wrapper">
                                        <img src="img/primary-school-slider-1.jpg" alt=""
                                            class="education-school__slider-card-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="primary-school">
            <div class="primary-school__row">
                <div class="primary-school__left-col">
                    <div class="primary-school__large-text">
                        <p>
                            The most significant and distinctive feature of the ib primary years programme are the six
                            Transdisciplinary themes. These themes provide ib world schools with the opportunity to
                            Incorporate local and global issues into the curriculum and effectively allow students to
                            “step up” beyond the confines of learning within subject areas
                        </p>
                    </div>
                    <ul class="primary-school__features-list">
                        <li class="primary-school__features-list-item">
                            <div class="primary-school__features-key">
                                — Who we are
                            </div>

                            <div class="primary-school__features-value">
                                Inquiry into the nature of the self; beliefs and values; person, physical, mental,
                                social and spiritual health; human relationships including families, friends,
                                communities, and cultures; rights and responsibilities; what it means to be human
                            </div>
                        </li>
                        <li class="primary-school__features-list-item">
                            <div class="primary-school__features-key">
                                — Where we are in place and time
                            </div>

                            <div class="primary-school__features-value">
                                Inquiry into orientation in place and time; personal histories; homes and journeys; the
                                discoveries, explorations and migrations of humankind; the relationship between and the
                                interconnectedness of individuals and civilizations, from local and global perspectives
                            </div>
                        </li>
                        <li class="primary-school__features-list-item">
                            <div class="primary-school__features-key">
                                — How we express ourselves
                            </div>

                            <div class="primary-school__features-value">
                                Inquiry into the ways in which we discover and express ideas, feelings, nature, culture,
                                beliefs and values; the ways in which we reflect on, extend and enjoy our creativity;
                                our appreciation of the aesthetic
                            </div>
                        </li>
                        <li class="primary-school__features-list-item">
                            <div class="primary-school__features-key">
                                — How the world works
                            </div>

                            <div class="primary-school__features-value">
                                Inquiry into the natural world and its laws, the interaction between the natural world
                                (physical and biological) and human societies; how humans use their understanding of
                                scientific principles; the impact of scientific and technological advances on society
                                and on the environment.
                            </div>
                        </li>
                        <li class="primary-school__features-list-item">
                            <div class="primary-school__features-key">
                                — How we organize ourselves
                            </div>
                            <div class="primary-school__features-value">
                                Inquiry into the interconnectedness of human-made systems and communities; the structure
                                and function of organizations; societal decision-making; economic activities and their
                                impact on humankind and the environment
                            </div>
                        </li>
                        <li class="primary-school__features-list-item">
                            <div class="primary-school__features-key">
                                — Sharing the planet
                            </div>
                            <div class="primary-school__features-value">
                                Inquiry into rights and responsibilities in the struggle to share finite resources with
                                other people and other living things; communities and the relationship within and
                                between them; access to equal opportunities; peace and conflict resolution.
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="primary-school__right-col">
                    <ul class="primary-school__subjects-list">
                        <li class="primary-school__subjects-list-item">
                            <div class="primary-school__subjects-key">
                                The six subject areas identified within the ib primary years programme:
                            </div>
                            <div class="primary-school__subjects-value">
                                <p>
                                    — language
                                    — social studies
                                    — mathematics
                                    — arts
                                    — science
                                    — personal, social and
                                    — physical education
                                </p>
                            </div>
                        </li>
                        <li class="primary-school__subjects-list-item">
                            <div class="primary-school__subjects-key">
                                The school outlines its specific knowledge content and academic curriculum, guided by
                                the following five essential elements:
                            </div>
                            <div class="primary-school__subjects-value">
                                <p>
                                    — The knowledge content including learning outcomes for each subject area is
                                    organized under the transdisciplinary themes.
                                </p>
                                <p>
                                    — The approaches to learning skills aim to help students become independent,
                                    well-functioning, self-motivated learners.
                                </p>
                                <p>
                                    — The learning attitudes aim to develop a lifelong love of learning and nurture a
                                    child’s curiosity and confidence.
                                </p>
                                <p>
                                    — The programme is driven by concepts which give the inquiries direction and
                                    meaning.
                                </p>
                                <p>
                                    — The concepts that drive the PYP are timeless, universal, and abstract.
                                </p>
                                <p>
                                    — The action component emphasizes the need to connect the student with his or her
                                    own potential and responsibility for using what was learned.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="units">
    <div class="container">
        <div class="units__row">
            <div class="units__left-col">
                <div class="units__image-container">
                    <img src="img/units.jpg" alt="" class="units__image">
                </div>
            </div>
            <div class="units__right-col">
                <div class="units__text">
                    <p>
                        Units of inquiry interweave subject areas such as mathematics, language arts, science and social
                        studies. This approach encourages students to make their own connections between what they learn
                        in the subject areas and how it relates to the world around them.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="exhibition">
    <div class="container">
        <div class="exhibition__row">
            <div class="exhibition__col">
                <div class="exhibition__image-container">
                    <img src="img/exhibition.jpg" alt="" class="exhibition__image">
                </div>
            </div>
            <div class="exhibition__col">
                <div class="exhibition__content">
                    <h2 class="exhibition__heading">
                        THE EXHIBITION
                    </h2>
                    <div class="exhibition__text">
                        <p>
                            The Exhibition is an important part of the PYP for all students. In the final year of the
                            programme, students undertake a collaborative, transdisciplinary inquiry process that
                            involves them in identifying, investigating and offering solutions to real-life issues or
                            problems. As the culminating experience of the PYP, the Exhibition offers students an
                            exciting opportunity to demonstrate independence and responsibility for their own learning.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="action">
    <div class="container">
        <div class="action__row">
            <div class="action__col">
                <div class="action__content">
                    <h2 class="action__heading">
                        ACTION
                    </h2>
                    <div class="action__text">
                        <p>
                            Taking action is an integral conclusion to the learning that incorporates students making
                            connections to what they have learned, applying a variety of real life skills, demonstrating
                            an
                            enduring understanding through concepts and reflecting on the attributes of the learner
                            profile
                            and attitudes.

                        </p>
                    </div>
                </div>
            </div>
            <div class="action__col">
                <div class="action__image-container">
                    <img src="img/action.jpg" alt="" class="action__image">
                </div>
            </div>
        </div>
    </div>
</section>

{{> sign-up }}

{{/content}}
{{/extend}}