{{#extend "layout"}}
{{#content "main"}}

<section class="intro-with-nav">
    <div class="container">
        <div class="intro-with-nav__row intro-with-nav__row--reviews">
            <div class="intro-with-nav__left-col">
                <div class="intro-with-nav__bg">
                    <img src="img/reviews-bg.jpg" alt="" class="intro-with-nav__bg-image">
                </div>
                <h1 class="intro-with-nav__heading">
                    Reviews
                </h1>
            </div>
            <div class="intro-with-nav__right-col">
                <nav class="intro-with-nav__nav">
                    <a href="#" class="intro-with-nav__link">
                        Infrastructure and equipment
                    </a>
                    <a href="#" class="intro-with-nav__link active">
                        Reviews
                    </a>
                    <a href="#" class="intro-with-nav__link">
                        Philosophy
                    </a>
                </nav>
            </div>
        </div>
    </div>

</section>

<section class="reviews-page">
    <div class="container">
        <ul class="reviews-page__list">
            <li class="reviews-page__list-item">
                <div class="reviews-page__card">
                    <div class="reviews-page__card-image-container">
                        <img src="img/reviews-page/1.jpg" alt="" class="reviews-page__card-image">
                    </div>
                    <div class="reviews-page__card-content">
                        <h4 class="reviews-page__card-title">
                            Ehsan Shariatmadari
                        </h4>
                        <div class="reviews-page__card-text">
                            The International School of Kazan is full of friendship, energy and activity.
                        </div>
                    </div>
                </div>
            </li>
            <li class="reviews-page__list-item">
                <div class="reviews-page__card">
                    <div class="reviews-page__card-image-container">
                        <img src="img/reviews-page/2.jpg" alt="" class="reviews-page__card-image">
                    </div>
                    <div class="reviews-page__card-content">
                        <h4 class="reviews-page__card-title">
                            Anna Kornilova
                        </h4>
                        <div class="reviews-page__card-text">
                            The International School of Kazan is the best educational establishment in our republic
                        </div>
                    </div>
                </div>
            </li>
            <li class="reviews-page__list-item">
                <div class="reviews-page__card">
                    <div class="reviews-page__card-image-container">
                        <img src="img/reviews-page/3.jpg" alt="" class="reviews-page__card-image">
                    </div>
                    <div class="reviews-page__card-content">
                        <h4 class="reviews-page__card-title">
                            Aidar Ismagilov
                        </h4>
                        <div class="reviews-page__card-text">
                            Knowledge of the English language opens doors to future possibilities. This is the main
                            advantage of the International School of Kazan.
                        </div>
                    </div>
                </div>
            </li>
            <li class="reviews-page__list-item">
                <div class="reviews-page__card">
                    <div class="reviews-page__card-image-container">
                        <img src="img/reviews-page/4.jpg" alt="" class="reviews-page__card-image">
                    </div>
                    <div class="reviews-page__card-content">
                        <h4 class="reviews-page__card-title">
                            Ildar
                            Gizyatov
                        </h4>
                        <div class="reviews-page__card-text">
                            All my children study at ISK and I am absolutely confident in their future.
                        </div>
                    </div>
                </div>
            </li>
            <li class="reviews-page__list-item">
                <div class="reviews-page__card">
                    <div class="reviews-page__card-image-container">
                        <img src="img/reviews-page/5.jpg" alt="" class="reviews-page__card-image">
                    </div>
                    <div class="reviews-page__card-content">
                        <h4 class="reviews-page__card-title">
                            Ruslan Abdulnasyrov
                        </h4>
                        <div class="reviews-page__card-text">
                            We are very satisfied with the quality of education and English language at ISK.
                        </div>
                    </div>
                </div>
            </li>
            <li class="reviews-page__list-item">
                <div class="reviews-page__card">
                    <div class="reviews-page__card-image-container">
                        <img src="img/reviews-page/6.jpg" alt="" class="reviews-page__card-image">
                    </div>
                    <div class="reviews-page__card-content">
                        <h4 class="reviews-page__card-title">
                            Liana Sirazetdinova
                        </h4>
                        <div class="reviews-page__card-text">
                            The main thing for me is that not only academic knowledge, but also emotional intelligence
                            of children is developed at ISK.
                        </div>
                    </div>
                </div>
            </li>
            <li class="reviews-page__list-item">
                <div class="reviews-page__card">
                    <div class="reviews-page__card-image-container">
                        <img src="img/reviews-page/7.jpg" alt="" class="reviews-page__card-image">
                    </div>
                    <div class="reviews-page__card-content">
                        <h4 class="reviews-page__card-title">
                            Nina
                            Demikhova
                        </h4>
                        <div class="reviews-page__card-text">
                            We chose ISK immediately after the first visit to school 5 years ago.
                        </div>
                    </div>
                </div>
            </li>
            <li class="reviews-page__list-item">
                <div class="reviews-page__card">
                    <div class="reviews-page__card-image-container">
                        <img src="img/reviews-page/8.jpg" alt="" class="reviews-page__card-image">
                    </div>
                    <div class="reviews-page__card-content">
                        <h4 class="reviews-page__card-title">
                            Guzel Sergeeva    
                        </h4>
                        <div class="reviews-page__card-text">
                           I visited the best Parent\Teacher conference in my life!
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

{{> sign-up }}

{{/content}}
{{/extend}}