{{#extend "layout"}}
{{#content "main"}}

<section class="store">
    <div class="container">

        <div class="store__intro">
            <div class="store__intro-bg">
                <img src="img/store-intro.jpg" alt="" class="store__intro-bg-image">
            </div>
            <h1 class="store__heading">
                store
            </h1>
            <div class="store__intro-text">
                <p>
                    ISK’s teachers have come from around the globe to provide the best education for our students. They
                    have lived and taught in Russia, the USA, the United Arab Emirates, China, Japan, South Korea,
                    Jamaica, the UK, and more.

                </p>
            </div>
        </div>

        <ul class="store__products-list">
            <li class="store__products-list-item">
                <div class="store__products-card">
                    <div class="store__products-card-left-col">
                        <div class="store__products-card-image-container">
                            <div class="store__products-card-image-container-inner">


                                <img src="img/store/1.jpg" alt="" class="store__products-card-image">
                            </div>
                        </div>
                    </div>
                    <div class="store__products-card-right-col">
                        <form action="/" method="POST" class="store__products-card-form">
                            <div class="store__products-card-form-content">


                                <h4 class="store__products-card-title">
                                    Black ISK hoodie
                                </h4>
                                <div class="store__products-card-made-of">
                                    Main: 100% Cotton
                                </div>
                                <div class="store__products-card-sizes">
                                    <label class="store__products-card-sizes-checkbox">
                                        <input type="radio" name="product1size" value="S"
                                            class="store__products-card-sizes-checkbox-input" checked>
                                        <span class="store__products-card-sizes-checkbox-content">
                                            S
                                        </span>
                                    </label>
                                    <label class="store__products-card-sizes-checkbox">
                                        <input type="radio" name="product1size" value="M"
                                            class="store__products-card-sizes-checkbox-input">
                                        <span class="store__products-card-sizes-checkbox-content">
                                            M
                                        </span>
                                    </label>
                                    <label class="store__products-card-sizes-checkbox">
                                        <input type="radio" name="product1size" value="L"
                                            class="store__products-card-sizes-checkbox-input">
                                        <span class="store__products-card-sizes-checkbox-content">
                                            L
                                        </span>
                                    </label>
                                    <label class="store__products-card-sizes-checkbox">
                                        <input type="radio" name="product1size" value="XL"
                                            class="store__products-card-sizes-checkbox-input">
                                        <span class="store__products-card-sizes-checkbox-content">
                                            XL
                                        </span>
                                    </label>
                                </div>
                                <div class="store__products-card-form-price">
                                    $19.90
                                </div>
                            </div>
                            <button type="submit" class="store__products-card-form-submit">

                                Buy
                            </button>
                        </form>

                    </div>

                </div>
            </li>
            <li class="store__products-list-item">
                <div class="store__products-card">
                    <div class="store__products-card-left-col">
                        <div class="store__products-card-image-container">
                            <div class="store__products-card-image-container-inner">


                                <img src="img/store/2.jpg" alt="" class="store__products-card-image">
                            </div>
                        </div>
                    </div>
                    <div class="store__products-card-right-col">
                        <form action="/" method="POST" class="store__products-card-form">
                            <div class="store__products-card-form-content">


                                <h4 class="store__products-card-title">
                                    isk bag
                                </h4>
                                <div class="store__products-card-made-of">
                                    Main: 100% Cotton
                                </div>

                                <div class="store__products-card-form-price">
                                    $19.90
                                </div>
                            </div>
                            <button type="submit" class="store__products-card-form-submit">

                                Buy
                            </button>
                        </form>

                    </div>

                </div>
            </li>

            <li class="store__products-list-item">
                <div class="store__products-card">
                    <div class="store__products-card-left-col">
                        <div class="store__products-card-image-container">
                            <div class="store__products-card-image-container-inner">
                                <img src="img/store/3.jpg" alt="" class="store__products-card-image">
                            </div>
                        </div>
                    </div>
                    <div class="store__products-card-right-col">
                        <form action="/" method="POST" class="store__products-card-form">
                            <div class="store__products-card-form-content">
                                <h4 class="store__products-card-title">
                                    Black ISK hoodie
                                </h4>
                                <div class="store__products-card-made-of">
                                    Main: 100% Cotton
                                </div>
                                <div class="store__products-card-sizes">
                                    <label class="store__products-card-sizes-checkbox">
                                        <input type="radio" name="product1size" value="S"
                                            class="store__products-card-sizes-checkbox-input" checked>
                                        <span class="store__products-card-sizes-checkbox-content">
                                            S
                                        </span>
                                    </label>
                                    <label class="store__products-card-sizes-checkbox">
                                        <input type="radio" name="product1size" value="M"
                                            class="store__products-card-sizes-checkbox-input">
                                        <span class="store__products-card-sizes-checkbox-content">
                                            M
                                        </span>
                                    </label>
                                    <label class="store__products-card-sizes-checkbox">
                                        <input type="radio" name="product1size" value="L"
                                            class="store__products-card-sizes-checkbox-input">
                                        <span class="store__products-card-sizes-checkbox-content">
                                            L
                                        </span>
                                    </label>
                                    <label class="store__products-card-sizes-checkbox">
                                        <input type="radio" name="product1size" value="XL"
                                            class="store__products-card-sizes-checkbox-input">
                                        <span class="store__products-card-sizes-checkbox-content">
                                            XL
                                        </span>
                                    </label>
                                </div>
                                <div class="store__products-card-form-price">
                                    $19.90
                                </div>
                            </div>
                            <button type="submit" class="store__products-card-form-submit">

                                Buy
                            </button>
                        </form>

                    </div>

                </div>
            </li>
        </ul>
    </div>
</section>

{{/content}}
{{/extend}}