{{#extend "layout"}}
{{#content "main"}}


<section class="our-team-intro">
    <div class="our-team-intro__bg">
        <img src="img/out-team-bg.jpg" alt="" class="our-team-intro__bg-image">
    </div>
    <div class="container">
        <div class="our-team-intro__content">
            <h1 class="our-team-intro__heading">
                TEACHERS

            </h1>
            <div class="our-team-intro__text">
                <p>
                    ISK’s teachers have come from around the globe to provide the best education for our students. They
                    have lived and taught in Russia, the USA, the United Arab Emirates, China, Japan, South Korea,
                    Jamaica, the UK, and more.
                </p>
                <p>
                    ISK’s teachers use a variety of teaching methods to inspire children to learn and develop their
                    interests. They love helping students succeed and grow. ISK teachers believe in the worth and
                    potential of every child.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="teachers">
    <div class="container">
        <ul class="teachers__list">
            <li class="teachers__list-item">
                <a href="#" class="teachers__card">
                    <div class="teachers__card-image-container">
                        <img src="img/teachers/1.jpg" alt="" class="teachers__card-image">
                    </div>
                </a>
                <div class="teachers__card-modal">
                    <div class="teachers__card-modal-inner">
                        <div class="teachers__card-modal-image-container">
                            <img src="img/teachers/1.jpg" alt="" class="teachers__card-modal-image">
                        </div>
                        <div class="teachers__card-modal-content">
                            <div class="our-team-people__card">
                                <h3 class="our-team-people__card-title">
                                    OLGA ABRAMOVA
                                </h3>
                                <div class="our-team-people__card-role">
                                    FEDO EAL TEACHER
                                </div>
                                <div class="our-team-people__card-text">
                                    <p>
                                        <em>
                                            Countries Worked In:
                                        </em>Russia, United States of America
                                    </p>
                                    <p>
                                        <em>
                                            Highest Degree:
                                        </em>
                                        Master’s
                                    </p>
                                    <p>
                                        <em>
                                            Field of Study:
                                        </em>
                                        English and Literature, Linguistics
                                    </p>
                                    <p>
                                        <em>
                                            Favorite Quote:
                                        </em>
                                        “It usually takes me more than three weeks to prepare a good impromptu speech.”
                                        Mark Twain
                                    </p>
                                </div>
                            </div>
                            <button class="teachers__card-modal-close">
                                <svg width="20" height="20" aria-hidden="true" class="icon-cross">
                                    <use xlink:href="#cross"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="teachers__list-item">
                <a href="#" class="teachers__card">
                    <div class="teachers__card-image-container">
                        <img src="img/teachers/2.jpg" alt="" class="teachers__card-image">
                    </div>
                </a>
            </li>
            <li class="teachers__list-item">
                <a href="#" class="teachers__card">
                    <div class="teachers__card-image-container">
                        <img src="img/teachers/3.jpg" alt="" class="teachers__card-image">
                    </div>
                </a>
            </li>
            <li class="teachers__list-item">
                <a href="#" class="teachers__card">
                    <div class="teachers__card-image-container">
                        <img src="img/teachers/4.jpg" alt="" class="teachers__card-image">
                    </div>
                </a>
            </li>
            <li class="teachers__list-item">
                <a href="#" class="teachers__card">
                    <div class="teachers__card-image-container">
                        <img src="img/teachers/5.jpg" alt="" class="teachers__card-image">
                    </div>
                </a>
            </li>
            <li class="teachers__list-item">
                <a href="#" class="teachers__card">
                    <div class="teachers__card-image-container">
                        <img src="img/teachers/6.jpg" alt="" class="teachers__card-image">
                    </div>
                </a>
            </li>
            <li class="teachers__list-item">
                <a href="#" class="teachers__card">
                    <div class="teachers__card-image-container">
                        <img src="img/teachers/7.jpg" alt="" class="teachers__card-image">
                    </div>
                </a>
            </li>
            <li class="teachers__list-item">
                <a href="#" class="teachers__card">
                    <div class="teachers__card-image-container">
                        <img src="img/teachers/8.jpg" alt="" class="teachers__card-image">
                    </div>
                </a>
            </li>
            <li class="teachers__list-item">
                <a href="#" class="teachers__card">
                    <div class="teachers__card-image-container">
                        <img src="img/teachers/9.jpg" alt="" class="teachers__card-image">
                    </div>
                </a>
            </li>
            <li class="teachers__list-item">
                <a href="#" class="teachers__card">
                    <div class="teachers__card-image-container">
                        <img src="img/teachers/10.jpg" alt="" class="teachers__card-image">
                    </div>
                </a>
            </li>

        </ul>

    </div>
</section>

<section class="our-team-jobs">
    <div class="container">
        <div class="our-team-jobs__row">
            <div class="our-team-jobs__left-col">
                <div class="our-team-jobs__image-container">
                    <img src="img/our-jobs.jpg" alt="" class="our-team-jobs__image">
                </div>

            </div>
            <div class="our-team-jobs__right-col">
                <div class="our-team-jobs__content">
                    <h2 class="our-team-jobs__heading">
                        Jobs
                    </h2>
                    <div class="our-team-jobs__text">
                        <p>
                            We invite international teachers with PYP, MYP, DP or similar experience to apply. We also
                            invite local teachers and teaching assistants with knowledge of English language at the
                            level of native speaker to apply
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{{/content}}
{{/extend}}