.abount__row {
    display: flex;

    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.about__left-col {
    width: 50%;
    flex-grow: 1;
    z-index: 1;
    color: white;
    position: relative;
    padding-top: 4.4rem;
    padding-bottom: 5.8rem;
    padding-right: 3.6rem;
    &::before {
        content: '';
        right: 0;
        top: 0;
        bottom: 0;
        width: 100vw;
        position: absolute;
        z-index: -1;
        background: #7040c0;
    }

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
        padding: 2.4rem 0;

        &::before {
            left: calc(-1 * (100vw - 100%) / 2);
            right: calc(-1 * (100vw - 100%) / 2);
            top: 0;
            bottom: 0;
            width: auto;
        }
    }
}

.about__right-col {
    width: 40%;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    padding-top: 4.4rem;
    padding-bottom: 5.8rem;
    padding-left: 8rem;
    @include breakpoint(large-desktop) {
        width: 46.8rem;
    }
    &::before {
        content: '';
        left: 0;
        top: 0;
        bottom: 0;
        width: 100vw;
        position: absolute;
        z-index: -1;
        background-color: white;
    }

    @include breakpoint(mobile) {
        width: 100%;
        padding: 2.4rem 0;
        &::before {
            left: calc(-1 * (100vw - 100%) / 2);
            right: calc(-1 * (100vw - 100%) / 2);
            top: 0;
            bottom: 0;
            width: auto;
        }
    }
}

.about__text {
    font-weight: 500;
    font-size: 5.5rem;
    line-height: 120%;
    letter-spacing: 0.005em;

    @include breakpoint(mobile) {
        font-size: 1.8rem;
        line-height: 130%;
    }
}

.about__partners-list {
    display: flex;
    flex-wrap: wrap;
    margin: -2.4rem -3.2rem;

    @include breakpoint(mobile) {
        margin: -1.5rem;
    }
}

.about__partners-list-item {
    width: 33.3%;
    padding: 2.4rem 3.2rem;
    display: flex;
    flex-direction: column;
    @include breakpoint(large-desktop) {
        width: 50%;
    }

    @include breakpoint(mobile) {
        padding: 1.5rem;
        width: 33.33%;
    }
}

.about__partners-card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__partners-card-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 10rem;
    @include objectFitContain();

    @include breakpoint(mobile) {
        max-height: 6.5rem;
    }
}


