.admissions-apply__btn {
    min-height: 19rem;
    text-align: center;
    font-weight: 500;
    font-size: 5.5rem;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: white;
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(78.72% 423.07% at 78.72% 100%, #F98181 0%, #D72545 51.04%, #14142B 99.8%);
    position: relative;
    z-index: 100;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        z-index: -1;
        background: radial-gradient(78.72% 423.07% at 78.72% 100%, #9761f3 0%, #5624ab 51.04%, #14142b 99.8%);
        transition: opacity 0.3s;
        opacity: 0;
    }


    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        &::before {
            opacity: 1;
        }
    }
    @include breakpoint(mobile) {
        min-height: 8rem;
        font-size: 2.4rem;
    }

    
}
