.admissions {
    background-color: #fff;
    color: var(--dark-blue);
    background-image: url('../img/admissions-logo.svg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.admissions__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(mobile) {
        align-items: initial;
    }
}

.admissions__text {
    padding: 9rem 0;
    max-width: 92.4rem;
    width: 100%;
    font-weight: 500;
    font-size: 7.2rem;
    line-height: 1;
    letter-spacing: 0.005em;

    @include breakpoint(mobile) {
        padding: 5.2rem 0;
        font-size: 2.4rem;
        max-width: none;
        line-height: 130%;
        font-weight: 700;
    }
}
