@font-face {
    font-family: 'Mabry Pro';
    src: url('../assets/fonts/MabryPro-Medium.woff2') format('woff2'),
        url('../assets/fonts/MabryPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mabry Pro';
    src: url('../assets/fonts/MabryPro-Bold.woff2') format('woff2'),
        url('../assets/fonts/MabryPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'DrukWideMediumCy';
    src: url('../assets/fonts/DrukWideMediumCy.woff2') format('woff2'),
        url('../assets/fonts/DrukWideMediumCy.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
