.intro {
    background-color: var(--dark-blue);
    color: white;
    position: relative;
}

.intro__backgrounds {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
   
    @include breakpoint(mobile) {
        display: none;
    }
}

.intro__main-btn {
    padding: 3.8rem 3.5rem;
    font-weight: 500;
    font-size: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 120%;
    letter-spacing: 0.005em;
    background: radial-gradient(78.72% 423.07% at 78.72% 100%, #F98181 0%, #D72545 51.04%, #14142B 99.8%);
    color: white;
    position: relative;
    z-index: 100;
    &:link,
    &:visited {
        color: white;
    }

    @include breakpoint(mobile) {
        padding: 2rem 2.4rem;
        font-size: 2.4rem;
        line-height: 1.2;
    }
}

.intro__mobile-link {
    display: none;
    @include breakpoint(mobile) {
        display: block;
        color: white;
        font-weight: 500;
        font-size: 3rem;
        line-height: 3.6rem;
        letter-spacing: 0.005em;
        text-transform: uppercase;
        z-index: 20;
        font-family: var(--druk);
        &:link,
        &:visited {
            color: white;
        }
    }
}

.intro__mobile-bg {
    display: none;

    @include breakpoint(mobile) {
        display: block;
        position: absolute;
        left: calc(-1 * (100vw - 100%) / 2);
        right: calc(-1 * (100vw - 100%) / 2);
        bottom: 0;
        top: 0;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(#14142b, 0.5);
        }
    }
}

.intro__mobile-bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.intro__content {
    height: 100vh;
    position: relative;
    display: flex;

    @include breakpoint(tablet) {
        height: 93.4rem;
    }

    @include breakpoint(mobile) {
        height: auto;
        flex-direction: column;
    }
}

.intro__left-col,
.intro__right-col {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 70;
    flex-shrink: 0;

    &.active {
        &::before {
            opacity: 0;
        }
    }

    @include breakpoint(mobile) {
        width: 100%;
        align-items: center;
        justify-content: center;
        min-height: 25.5rem;

        &::before {
            display: none;
        }
    }
}

.intro__left-col {
    .intro__semicircle {
        right: 0;
    }

    .intro__semicircle-mobile {
        position: absolute;
        bottom: 0;
        width: 28.4rem;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
    }
    &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: calc(-1 * (100vw - 100%) / 2);
        background-color: var(--blue);
        z-index: -1;
        transition: opacity 0.3s;
    }
}

.intro__right-col {
    .intro__semicircle {
        left: 0;
    }

    .intro__semicircle-mobile {
        position: absolute;
        top: 0;
        width: 28.4rem;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: calc(-1 * (100vw - 100%) / 2);
        background-color: var(--dark-blue);
        z-index: -1;
        transition: opacity 0.3s;
    }
}
.intro__bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 120;

    @include breakpoint(mobile) {
        transform: translate(0, 50%);
    }
}

.intro__bottom-link {
    padding: 1.65rem 3.8rem;
    font-weight: bold;
    font-size: 3rem;
    line-height: 130%;
    letter-spacing: 0.005em;
    color: white;
    text-align: center;
    background: #5624ab;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out, transform 0.4s ease-in-out;
    transform-origin: center bottom;

    &:link,
    &:visited {
        color: white;
    }

    &:hover {
        background-color: white;
        color: #5624ab;
        transform: scale(1.1);
    }

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        letter-spacing: 0.005em;
        font-weight: 700;
        line-height: 130%;
        padding: 0.8rem 2rem;
        margin: 0;
        bottom: auto;
        top: 100%;
        white-space: nowrap;
        &:hover {
            transform-origin: center;
        }
    }
}

.intro__text-content {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 90;

    @include breakpoint(mobile) {
        display: none;
    }
}

.intro__text-content-col {
    width: 50%;
    display: flex;
    flex-direction: column;

    &--left {
        color: var(--dark-blue);
        align-items: flex-start;

        &.active {
            color: white;
        }
    }

    &--right {
        color: white;
        align-items: flex-end;
    }
}

.intro__column-content {
    margin: auto 0;
    position: relative;
    z-index: 40;
}

.intro__column-link {
    font-weight: 500;
    font-size: 6rem;
    line-height: 7.3rem;
    font-family: var(--druk);
    text-transform: uppercase;
    transition: color 0.4s, transform 0.4s;
    transform-origin: left center;
    display: inline-flex;
    padding: 8rem;
    margin: -8rem;
    z-index: 30;
    position: relative;
    &.inactive {
        transform: scale(0.92);
    }
    &:link,
    &:visited {
        color: inherit;
    }
}

.intro__column-text {
    position: absolute;
    top: 100%;
    padding-top: 5.4rem;
    font-weight: bold;
    font-size: 3rem;
    line-height: 130%;
    letter-spacing: 0.005em;
    max-width: 49rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;

    .intro__text-content-col.active & {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
    }
}

.intro__background {
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;

    &:nth-child(1) {
        left: 0;
        width: 80vw;
    }

    &:nth-child(2) {
        right: 0;
        width: 80vw;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(black, 0.5);
    }

    &.active {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
    }
}

.intro__background-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.intro__semicircle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 67.6rem;
    width: auto;
    max-width: none;
    pointer-events: none;
    z-index: 4;
    transition: opacity 0.4s, visibility 0.4s;

    &:only-child {
        opacity: 1 !important;
        visibility: inherit !important;
    }

    &:nth-child(2) {
        opacity: 0;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0s linear 0.4s;
    }

    .js-intro-col.active & {
        &:nth-child(1) {
            opacity: 0;
            visibility: hidden;
        }

        &:nth-child(2) {
            opacity: 1;
            visibility: inherit;
        }
    }

    @include breakpoint(mobile) {
        height: 28.4rem;
        width: auto;
        display: none;
        &:nth-child(1) {
            opacity: 0;
            visibility: hidden;
        }

        &:nth-child(2) {
            opacity: 1;
            visibility: inherit;
        }
    }
}

.intro__semicircle-mobile {
    display: none;
    @include breakpoint(mobile) {
        display: block;
    }
}

.intro__semicircle-with-pattern {
    overflow: hidden;
    width: 33.8rem;
    height: 100%;
    position: relative;
}

.intro__semicircle-with-pattern-inner-circle {
    height: 67.6rem;
    width: 67.6rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    position: absolute;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 200%;
        background-size: 110% auto;
        background-repeat: repeat;
        background-image: url('../img/semicircle-bg-pattern.svg');
        background-position: center;
        animation-name: moving-up-pattern;
        animation-iteration-count: infinite;
        animation-duration: 30s;
        animation-timing-function: linear;
    }
}

@keyframes moving-up-pattern {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}
