.news-and-events__row {
    display: flex;
    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.news-and-events__left-col,
.news-and-events__right-col {
    width: 50%;
    flex-direction: column;
    display: flex;
    position: relative;
    z-index: 1;
    padding-top: 4.8rem;
    padding-bottom: 9.8rem;

    @include breakpoint(mobile) {
        width: 100%;
        justify-content: space-between;
        min-height: 25.6rem;
    }
}

.news-and-events__left-col {
    padding-right: 7rem;
    color: white;
    &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100vw;
        background-color: var(--dark-blue);
        z-index: -1;
        pointer-events: none;
    }

    @include breakpoint(mobile) {
        padding: 2.5rem 0;
        padding-bottom: 0;
        &::before {
            left: calc(-1 * (100vw - 100%) / 2);
            right: calc(-1 * (100vw - 100%) / 2);
            top: 0;
            bottom: 0;
            width: auto;
        }
    }
}

.news-and-events__right-col {
    padding-left: 7rem;
    color: white;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100vw;
        background: #5624ab;
        z-index: -1;
        pointer-events: none;
    }

    @include breakpoint(mobile) {
        padding: 2.5rem 0;
        padding-bottom: 0;
        &::before {
            left: calc(-1 * (100vw - 100%) / 2);
            right: calc(-1 * (100vw - 100%) / 2);
            top: 0;
            bottom: 0;
            width: auto;
        }
    }
}

.news-and-events__heading {
    font-weight: 500;
    font-size: 6rem;
    line-height: 7.3rem;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    font-family: var(--druk);
    margin-bottom: 7rem;
    min-height: 14.6rem;

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 3rem;
        line-height: 3.6rem;
        letter-spacing: 0.005em;
        min-height: auto;
        margin-bottom: 2rem;
    }
}

.news-and-events__list {
}

.news-and-events__list-item {
    margin-bottom: 7rem;
    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(mobile) {
        margin: 0;
    }
}

.news-and-events__card {
    display: flex;
    flex-direction: column;
    @include breakpoint(mobile) {
        // justify-content: flex-end;
        flex-grow: 1;
    }
}

.news-and-events__card-date {
    font-weight: bold;
    font-size: 3rem;
    line-height: 130%;
    color: #9761f3;
    letter-spacing: 0.005em;
    margin-bottom: 0.9rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 130%;
        margin-bottom: 0;
    }
}

.news-and-events__card-title {
    font-weight: 500;
    font-size: 5.5rem;
    letter-spacing: 0.005em;
    line-height: 120%;

    @include breakpoint(mobile) {
        font-size: 3rem;
        line-height: 130%;
    }
}

.news-and-events__content {
    position: relative;

    .swiper-container {
        @include breakpointMF(small-tablet) {
            margin: 0;
            overflow: visible;
            position: static;
        }
    }

    .swiper-wrapper {
        @include breakpointMF(small-tablet) {
            position: static;
            width: auto;
            height: auto;
            display: block;
            box-sizing: border-box;
            transition: none;
        }
    }

    .swiper-slide {
        @include breakpointMF(small-tablet) {
            display: block;
            position: static;
        }
    }
}

.news-and-events__preview {
    position: absolute;
    width: 34rem;
    height: 34rem;
    border-radius: 50%;
    overflow: hidden;
    right: 0;
    top: 0;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    background-color: var(--blue);
    &.active {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.3s, visibility 0.3s;
    }
    @include breakpoint(mobile) {
        display: none;
    }
}

.news-and-events__preview-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(#14142b, 0.2);
    }

    &--no-image {
        &::after {
            display: none;
        }
    }
    &.active {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.3s, visibility 0.3s;
    }
}

.news-and-events__preview-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.news-and-events__controls {
    display: none;

    @include breakpoint(mobile) {
        display: flex;
        justify-content: flex-end;
        margin: 0 calc(-1 * var(--content-padding));
        margin-top: 2rem;
    }
}

.news-and-events__arrows {
    display: flex;
    align-items: center;
}

.news-and-events__arrow {
    width: 11.8rem;
    height: 10.7rem;
    position: relative;
    background: var(--violet);
    flex-shrink: 0;
    transition: background-color 0.2s;


    .news-and-events__arrows--blue & {
        background: var(--blue);
    }
    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 1.7rem;
        height: 2.7rem;
        fill: white;
        transform: translate(-50%, -50%);

        @include breakpoint(mobile) {
            width: 1rem;
            height: 1.5rem;
        }
    }

   

    @include breakpoint(mobile) {
        width: 6.6rem;
        height: 6rem;
    }
}
