.our-team-intro {
    position: relative;
    z-index: 1;
    color: white;
    background: #14142b;
}

.our-team-intro__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    max-height: 96rem;
    &::after {
        content: '';
        background: linear-gradient(0deg, #14142b 2.5%, rgba(20, 20, 43, 0) 100%);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.our-team-intro__bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCoverTop();
}

.our-team-intro__content {
    padding-top: 35rem;
    padding-bottom: 14rem;
    min-height: 96rem;
    max-width: 125rem;

    @include breakpoint(mobile) {
        padding-top: 17rem;
        min-height: auto;
        padding-bottom: 3rem;
    }
}

.our-team-intro__heading {
    font-weight: 500;
    font-size: 6rem;
    line-height: 7.3rem;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    margin-bottom: 4.5rem;
    font-family: var(--druk);

    @include breakpoint(mobile) {
        font-size: 3rem;
        line-height: 3.6rem;
        letter-spacing: 0.005em;
        margin-bottom: 1.6rem;
    }
}

.our-team-intro__text {
    font-weight: 500;
    font-size: 5.5rem;
    line-height: 120%;
    letter-spacing: 0.005em;

    p {
        margin-bottom: 4rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.8rem;
        line-height: 130%;
    }
}
