.reviews {
    background-color: var(--blue);
    color: var(--dark-blue);
    padding-left: calc((100vw - 160rem) / 2);
    @include breakpoint(large-desktop) {
        padding-left: calc((100vw - 134rem) / 2);
    }
    @include breakpoint(desktop) {
        padding-left: var(--content-padding);
    }
    @include breakpoint(mobile) {
        padding: 0 var(--content-padding);
    }
}
.reviews__row {
    display: flex;

    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.reviews__left-col,
.reviews__right-col {
    width: 70%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

    @include breakpoint(tablet) {
        width: 60%;
    }
    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}
.reviews__right-col {
    width: 30%;

    @include breakpoint(tablet) {
        width: 40%;
    }
    @include breakpoint(mobile) {
        display: none;
    }
}

.reviews__left-col {
    padding-top: 5rem;
    @include breakpoint(mobile) {
        padding-top: 2.5rem;
    }
}

@keyframes reviews-pattern {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.reviews__heading {
    font-weight: 500;
    font-size: 6rem;
    line-height: 7.3rem;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    margin-bottom: 7rem;
    font-family: var(--druk);

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 3rem;
        line-height: 3.6rem;
        letter-spacing: 0.005em;
        color: white;
        margin-bottom: 1.7rem;
    }
}

.reviews__main-slider {
    min-height: 30rem;

    @include breakpoint(mobile) {
        min-height: 0;
    }
}

.reviews__main-slider-card {
    display: flex;
    flex-direction: column;
}

.reviews__main-slider-card-name {
    font-weight: 500;
    font-size: 5.5rem;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #028aa0;
    margin-bottom: 3.4rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 130%;
        margin-bottom: 1.3rem;
    }
}

.reviews__main-slider-card-text {
    font-weight: 500;
    font-size: 5.5rem;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: var(--dark-blue);
    padding-right: 5rem;

    .reviews--school & {
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
        letter-spacing: 0.015rem;

        @include breakpoint(mobile) {
            font-size: 2.4rem;
            line-height: 130%;
            font-weight: 700;
            padding-right: 0;
        }
    }

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 130%;
        font-weight: 700;
        padding-right: 0;
        margin-bottom: 1.3rem;
    }
}

.reviews__all-reviews-link {
    padding: 1.65rem 3.8rem;
    font-weight: bold;
    font-size: 3rem;
    line-height: 130%;
    letter-spacing: 0.005em;
    color: white;
    text-align: center;
    background: #5624ab;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 120;
    transition: color 0.2s, background-color 0.2s;

    &:link,
    &:visited {
        color: white;
    }

    &:hover {
        background-color: white;
        color: #5624ab;
    }

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        letter-spacing: 0.005em;
        font-weight: 700;
        line-height: 130%;
        padding: 0.8rem 2rem;
        margin: 0;
        white-space: nowrap;
    }
}

.reviews__slider-controls {
    margin-top: auto;
    display: flex;
    align-items: center;

    @include breakpoint(mobile) {
        margin: 0 calc(-1 * var(--content-padding));
        padding-left: 1.1rem;
    }
}

.reviews__slider-pagination {
    display: flex;
    margin-right: 3.7rem;
    width: 40%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        margin-right: 2rem;
    }
}

.reviews__slider-pagination-bullet {
    display: block;
    width: 100%;
    height: 0.6rem;
    border-radius: 0.3rem;
    background: #12aac4;
    margin-right: 0.9rem;
    flex-grow: 1;
    overflow: hidden;
    position: relative;

    &:last-child {
        margin-right: 0;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform-origin: left center;
        background-color: #fff;
        transform: scaleX(var(--slider-progress, 0));
    }

    @include breakpoint(mobile) {
        height: 0.3rem;
        margin-right: 0.6rem;
    }
}

.reviews__slider-arrows {
    display: flex;
    align-items: center;
}
.reviews__slider-arrow {
    width: 11.8rem;
    height: 10.7rem;
    position: relative;
    background: #12aac4;
    flex-shrink: 0;
    transition: background-color 0.2s;
    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 1.7rem;
        height: 2.7rem;
        fill: white;
        transform: translate(-50%, -50%);

        @include breakpoint(mobile) {
            width: 1rem;
            height: 1.5rem;
        }
    }

    &:not(.swiper-button-disabled):hover {
        background-color: var(--violet);
    }

    @include breakpoint(mobile) {
        width: 6.6rem;
        height: 6rem;
    }
}

.reviews__thumbs-slider {
    flex: 1;
    position: relative;
}
.reviews__thumbs-slider-name {
    background: var(--dark-blue);
    color: #fff;
    padding: 2.5rem 3.5rem;
    font-size: 5.5rem;
}

.reviews__thumbs-slider-card {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease 0.3s, visibility 0s linear 0.6s;
    z-index: 1;
    height: 100%;

    &.active {
        position: relative;
        opacity: 1;
        visibility: inherit;
        z-index: 2;
        transition: opacity 0.3s, visibility 0.3s;
    }
}

.reviews__thumbs-slider-card-image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.reviews__thumbs-slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCoverTop();
}
