.sign-up {
    padding-top: 11rem;
    padding-bottom: 12.5rem;

    @include breakpoint(mobile) {
        padding: 3rem 0;
    }
}

.sign-up__heading {
    font-weight: 500;
    font-size: 6rem;
    line-height: 7.3rem;
    font-family: var(--druk);
    letter-spacing: 0.005em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 13rem;

    @include breakpoint(mobile) {
        font-size: 3rem;
        line-height: 3.6rem;
        letter-spacing: 0.005em;
        margin-bottom: 7rem;
    }
}

.sign-up__form {
    width: 100%;
    max-width: 115rem;
    margin: 0 auto;

    @include breakpoint(mobile) {
        max-width: none;
        margin: 0;
    }
}

.sign-up__form-row {
    margin-bottom: 6.5rem;
    @include breakpoint(mobile) {
        margin-bottom: 5rem;
    }
}

.sign-up__form-buttons-row {
    display: flex;
    margin: -2.5rem -5rem;
    align-items: center;
    flex-wrap: wrap;
    @include breakpoint(mobile) {
        margin: 0;
        flex-direction: column-reverse;
    }
}

.sign-up__form-buttons-col {
    width: 50%;
    padding: 2.5rem 5rem;

    @include breakpoint(mobile) {
        padding: 0;
        width: 100%;
    }
}

.sign-up__form-submit-btn {
    font-weight: 500;
    font-size: 5.5rem;
    line-height: 120%;
    letter-spacing: 0.005em;
    text-align: center;
    padding: 4rem 7rem;
    color: white;
    background: #5624ab;
    flex-shrink: 0;
    display: block;
    width: 100%;
    transition: background-color .2s;
    .no-touch &:hover {
        background-color: var(--violet);
    }

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        padding: 1.8rem;
    }
}

.sign-up__form-rules {
    font-size: 2.4rem;
    line-height: 130%;
    letter-spacing: 0.005em;
    font-weight: 700;
    color: #e0d0fc;

    @include breakpoint(mobile) {
        font-size: 2rem;
        margin-bottom: 5rem;
    }
}
