.uniform {
    background: #5624ab;
    color: white;
}

.uniform__row {
    display: flex;

    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.uniform__left-col {
    width: 50rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 1;
        display: contents;
    }
}

.uniform__right-col {
    width: 30%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 1;
        flex-grow: 0;
        display: contents;
    }
}

.uniform__heading {
    font-weight: 500;
    font-size: 6rem;
    line-height: 7.3rem;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    margin-bottom: 5.5rem;
    font-family: var(--druk);

    @include breakpoint(mobile) {
        font-size: 3rem;
        line-height: 3.6rem;
        letter-spacing: 0.005em;
        margin-bottom: 2rem;
    }
}

.uniform__text {
    font-weight: bold;
    font-size: 3rem;
    line-height: 160%;
    letter-spacing: 0.005em;
    margin-bottom: 9rem;

    @include breakpoint(mobile) {
        font-size: 1.8rem;
        margin-bottom: 4rem;
    }
}

.uniform__slider-arrows {
    display: flex;
    align-items: center;
    margin-top: auto;

    @include breakpoint(mobile) {
        margin-top: 0;
        margin-left: auto;
    }
  
}

.uniform__slider-arrow {
    width: 11.8rem;
    height: 10.7rem;
    position: relative;
    background: #9761F3;
    flex-shrink: 0;
    transition: background-color 0.2s, opacity 0.2s;
    svg {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 1.7rem;
        height: 2.7rem;
        fill: white;
        transform: translate(-50%, -50%);

        @include breakpoint(mobile) {
            width: 1rem;
            height: 1.5rem;
        }
    }

    &.swiper-button-disabled {
        cursor: default;
        opacity: 0.7;
    }

    &:not(.swiper-button-disabled):hover {
        background: #58d6eb;
    }

    @include breakpoint(mobile) {
        width: 6.6rem;
        height: 6rem;
    }
}


.uniform__content {
    padding-top: 5.5rem;
    margin-left: -5.4rem;
    position: relative;
    z-index: 20;

    @include breakpoint(mobile) {
        margin-left: 0;
        padding-top: 3rem;
        order: 5;
    }
}

.uniform__slider {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .swiper-container {
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-top: -4.5rem;
        margin-bottom: -4.5rem;

        @include breakpoint(mobile) {
            margin-bottom: 0;
            margin-top: -3rem;
        }

        .swiper-wrapper {
            flex-grow: 1;

            .swiper-slide {
                height: auto;
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.uniform__slider-card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;

    @include breakpoint(mobile) {
        &::before {
            content: '';
            display: block;
            width: 100%;
            padding-bottom: 120%;
        }
    }

}

.uniform__slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}